<div class="about-block col-xs-pull-0 col-xs-push-0">
	<h1><a title="<%- SITE_NAME %>" href="javascript:void(0);"><img src="img/logo.png" alt="[Image: <%- SITE_NAME %> ]" title="<%- SITE_NAME %>" class="img-responsive center-block"/></a> </h1>
	<small class="show text-center">v 0.3 (2016-06-30)</small>
	<h3><%- i18next.t("Technologies and Components") %></h3>
		<ul class="list-unstyled">
			<li>Restya platform <a class="text-primary" target="_blank" title="http://restya.com/?utm_source=Restyaboard - <%- SITE_NAME %>&utm_medium=web&utm_campaign=about_us" href="http://restya.com/">http://restya.com/ </a></li>
			<li>Backbone.js <a class="text-primary" target="_blank" title="http://backbonejs.org/" href="http://backbonejs.org/ ">http://backbonejs.org/ </a></li>
			<li>Underscore <a class="text-primary" target="_blank" title="http://underscorejs.org" href="http://underscorejs.org">http://underscorejs.org </a></li>
			<li>jQuery <a class="text-primary" target="_blank" title="http://jquery.com/" href="http://jquery.com/">http://jquery.com/ </a></li>
			<li>jQuery UI <a class="text-primary" target="_blank" title="http://jqueryui.com" href="http://jqueryui.com">http://jqueryui.com </a></li>
			<li>Bootstrap3 <a class="text-primary" target="_blank" title="http://getbootstrap.com/" href="http://getbootstrap.com/">http://getbootstrap.com/ </a></li>
			<li>Font Awesome <a class="text-primary" target="_blank" title="http://fortawesome.github.io/Font-Awesome/" href="http://fortawesome.github.io/Font-Awesome/">http://fortawesome.github.io/Font-Awesome/ </a></li>
			<li>Dockmodal <a class="text-primary" target="_blank" title="http://uxmine.com/demo/dockmodal/" href="http://uxmine.com/demo/dockmodal/">http://uxmine.com/demo/dockmodal/ </a></li>
			<li>FullCalendar <a class="text-primary" target="_blank" title="http://fullcalendar.io/" href="http://fullcalendar.io/">http://fullcalendar.io/ </a></li>
			<li>Gantt <a class="text-primary" target="_blank" title="http://taitems.github.io/jQuery.Gantt/" href="http://taitems.github.io/jQuery.Gantt/">http://taitems.github.io/jQuery.Gantt/ </a></li>
			<li>Markdown Converter <a class="text-primary" target="_blank" title="https://github.com/showdownjs/showdown" href="https://github.com/showdownjs/showdown">https://github.com/showdownjs/showdown </a></li>
			<li>Select2 <a class="text-primary" target="_blank" title="https://select2.github.io/" href="https://select2.github.io/">https://select2.github.io/ </a></li>
			<li>Fileupload <a class="text-primary" target="_blank" title="https://blueimp.github.io/jQuery-File-Upload/" href="https://blueimp.github.io/jQuery-File-Upload/">https://blueimp.github.io/jQuery-File-Upload/ </a></li>
			<li>Emoji <a class="text-primary" target="_blank" title="http://hassankhan.me/emojify.js/" href="http://hassankhan.me/emojify.js/">http://hassankhan.me/emojify.js/ </a></li>
			<li>Doughnut Chart <a class="text-primary" target="_blank" title="https://github.com/githiro/drawDoughnutChart" href="https://github.com/githiro/drawDoughnutChart">https://github.com/githiro/drawDoughnutChart </a></li>
			<li>Dualstorage <a class="text-primary" target="_blank" title="https://github.com/nilbus/Backbone.dualStorage" href="https://github.com/nilbus/Backbone.dualStorage">https://github.com/nilbus/Backbone.dualStorage </a></li>
			<li>Backbone Batch Operations <a class="text-primary" target="_blank" title="https://github.com/akiomik/backbone-batch-operations/" href="https://github.com/akiomik/backbone-batch-operations/">https://github.com/akiomik/backbone-batch-operations/ </a></li>
			<li>Timeago <a class="text-primary" target="_blank" title="http://timeago.yarp.com/" href="http://timeago.yarp.com/">http://timeago.yarp.com/ </a></li>
			<li>Flickr <a class="text-primary" target="_blank" title="https://www.flickr.com/services/api/" href="https://www.flickr.com/services/api/">https://www.flickr.com/services/api/ </a></li>
			<li>Musical <a class="text-primary" target="_blank" title="https://github.com/PencilCode/musical.js" href="https://github.com/PencilCode/musical.js">https://github.com/PencilCode/musical.js </a></li>
			<li>Dropbox <a class="text-primary" target="_blank" title="https://www.dropbox.com/developers/dropins/chooser/js" href="https://www.dropbox.com/developers/dropins/chooser/js">https://www.dropbox.com/developers/dropins/chooser/js </a></li>
			<li>PostgreSQL <a class="text-primary" target="_blank" title="http://www.postgresql.org" href="http://www.postgresql.org">http://www.postgresql.org </a></li>
			<li>Finediff <a class="text-primary" target="_blank" title="http://www.raymondhill.net/finediff/" href="http://www.raymondhill.net/finediff/">http://www.raymondhill.net/finediff/ </a></li>
			<li>OAuth <a class="text-primary" target="_blank" title="http://bshaffer.github.io/oauth2-server-php-docs/" href="http://bshaffer.github.io/oauth2-server-php-docs/">http://bshaffer.github.io/oauth2-server-php-docs/ </a></li>
			<li>ElasticSearch <a class="text-primary" target="_blank" title="https://www.elastic.co/" href="https://www.elastic.co/">https://www.elastic.co/ </a></li>
			<li>Grunt <a class="text-primary" target="_blank" title="http://gruntjs.com/" href="http://gruntjs.com/">http://gruntjs.com/ </a></li>
			<li>Swagger UI <a class="text-primary" target="_blank" title="http://swagger.io/swagger-ui/" href="http://swagger.io/swagger-ui/">http://swagger.io/swagger-ui/ </a></li>
			<li>XMPP chat <a class="text-primary" target="_blank" title="http://conversejs.org" href="http://conversejs.org">http://conversejs.org </a></li>
			<li>Custom fields <a class="text-primary" target="_blank" title="http://github.com/powmedia/backbone-forms" href="http://github.com/powmedia/backbone-forms">http://github.com/powmedia/backbone-forms </a></li>
			<li>Sparkline <a class="text-primary" target="_blank" title="http://omnipotent.net/jquery.sparkline/" href="http://omnipotent.net/jquery.sparkline/">http://omnipotent.net/jquery.sparkline/ </a></li>
		</ul>
</div>