<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well-lg">
	<div class="panel panel-default">
		<div class="panel-heading lead">
			<%- i18next.t("Add User") %>
		</div>
		<div class="panel-body well-lg">
			<form class="form-horizontal clearfix pull-left js-user-profile-edit" name="AdminUserAddForm" role="form" enctype="multipart/form-data" id="AdminUserAddForm">
				<div class="form-group required">
					<label for="inputemail" class="col-sm-4 control-label"><%- i18next.t("Email") %></label>
					<div class="col-sm-8">
						<input type="email" placeholder="<%- i18next.t('Email') %>" id="inputemail" class="form-control" name="email" required>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputFullName" class="col-sm-4 control-label"><%- i18next.t("Full Name") %></label>
					<div class="col-sm-8">
						<input type="text" id="inputFullName" class="form-control" name="full_name" maxlength="90" required placeholder="<%- i18next.t('Full Name') %>">
					</div>
				</div>
				<div class="form-group required">
					<label for="inputinitials" class="col-sm-4 control-label"><%- i18next.t("Initials") %></label>
					<div class="col-sm-8">
						<input type="text" id="inputinitials" placeholder="<%- i18next.t('Initials') %>" class="form-control initialism" name="initials" maxlength="2" required>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputusername" class="col-sm-4 control-label"><%- i18next.t("Username") %></label>
					<div class="col-sm-8">
						<input type="text" id="inputusername" class="form-control" name="username" placeholder="<%- i18next.t('Username') %>" pattern="^[a-zA-Z0-9]{2,90}$" title="<%- i18next.t('Username. Minimum 3 characters and Maximum 90 characters and spaces not allowed') %>">
					</div>
				</div>
				<div class="form-group">
					<label for="AboutMe" class="col-sm-4 control-label"><%- i18next.t("About Me") %></label>
					<div class="col-sm-8">
						<textarea placeholder="<%- i18next.t('About Me') %>" class="form-control" id="AboutMe" rows="6" name="about_me"></textarea>
					</div>
				</div>
				<div class="form-group required">
					<label for="inputPassword" class="col-sm-4 control-label"><%- i18next.t("Password") %></label>
					<div class="col-sm-8">
						<input type="password" required name="password" id="inputPassword" class="form-control" placeholder="<%- i18next.t('Password') %>" pattern="[A-Za-z0-9\S]{6,50}" title="<%- i18next.t('Password. Minimum 6 characters, Maximum 256 characters and white space not allowed') %>">
					</div>
				</div>
				<div class="form-group required">
					<label for="inputtimezone" class="col-sm-4 control-label"><%- i18next.t("Timezone") %></label>
					<div class="col-sm-8">
						<%
							user_timezone = SITE_TIMEZONE;
						%>
						<select  id="inputtimezone" class="js-chosen-select form-control" name="timezone">
							<% _.each(timezones, function(timezone) { %>
									<% if(user_timezone.toString() == timezone.code.toString()) { %> 
									<option selected value="<%- timezone.code %>"><%- timezone.name %></option>
								<% } else { %>
									<option value="<%- timezone.code %>"><%- timezone.name %></option>
								<% } %>
							<% }); %>
						</select>
					</div>
				</div>
				<fieldset>
					<legend><span class="show h4"><%- i18next.t('Notifications') %></span></legend>
					<fieldset class="col-sm-offset-1 well-sm">
						<legend><span class="show h4"><%- i18next.t('Email Notification') %></span></legend>
						<div class="form-group">
							<label for="is_send_newsletter" class="col-sm-3 control-label"><%- i18next.t("Email Notification") %></label>
							<div class="col-sm-8">
								<select  id="is_send_newsletter" class="js-chosen-select" name="is_send_newsletter">
									<option value="0"><%- i18next.t("Never, Don't send email notifications") %></option>
									<option value="1"><%- i18next.t("Periodically, Send email notification every 1 hour") %></option>
									<option value="2"><%- i18next.t("Instantly, Send email notification every 5 minutes") %></option>
								</select>
							</div>
						</div>
					</fieldset>
				</fieldset>
				<div class="col-xs-9 pull-right clearfix">
					<div class="form-group">
						<label for="submit2" class="col-sm-1 control-label sr-only"><%- i18next.t("Add") %></label>
						<input type="submit" class="btn btn-primary" id="submitAddUser" value="<%- i18next.t('Add') %>">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>