<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
  <div class="panel-heading lead"><%- i18next.t("Add User") %></div>
  <div class="panel-body well-lg">
	<form id="AdminUserAddForm" name="AdminUserAddForm" class="form-horizontal col-xs-12">
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputEmail"><%- i18next.t("Email") %></label>
		<input type="email" required name="email" id="inputEmail" class="form-control" placeholder="<%- i18next.t('Email') %>" title="<%- i18next.t('Email') %>">
	  </div>
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputUsername"><%- i18next.t("Username") %></label>
		<input type="name" name="username" id="inputUsername" class="form-control" placeholder="<%- i18next.t('Username') %>" required pattern=".{3,15}" title="<%- i18next.t('Username. Minimum 3 characters') %>">
	  </div>
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputPassword"><%- i18next.t("Password") %></label>
		<input type="password" required name="password" id="inputPassword"class="form-control" placeholder="<%- i18next.t('Password') %>" pattern="[A-Za-z0-9\S]{6,50}" title="<%- i18next.t('Password. Minimum 6 characters and white space not allowed') %>">
	  </div>
	  <div class="form-group">
		<label class="sr-only control-label" for="submitAddUser"><%- i18next.t("Join Now") %></label>
		<input type="submit" class="btn btn-primary col-xs-12" id="submitAddUser" value="<%- i18next.t('Add') %>">
	  </div>
	</form>
  </div>
</div>
</div>