<% if(list != null){ %>
<span class="highlight-icon pull-left"><%- list.attributes.name %></span><div class="pull-right"><% if (!_.isEmpty(board.acl_links.where({slug: 'send_back_to_archived_list'}))) {%><a title="<%- i18next.t('Send to board') %>" class="js-send-list-to-board" data-list_id="<%- list.attributes.id %>"><i class="icon-reply"></i></a><%}%><a title="<%- i18next.t('Delete') %>" class="js-delete-archived-list" data-list_id="<%- list.attributes.id %>"><i class="icon-remove btn btn-link"></i></a></div>
<% }else{ %>
<span class="alert alert-info">
	<%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('lists')] }) %>
</span>
<%}%>