<% if(list != null){ if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "view_archived_lists",board_user_role_id: parseInt(list.board.board_user_role_id)})))) { %>
<span class="highlight-icon pull-left"><%- list.attributes.name %></span><div class="pull-right"><% if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: 'send_back_to_archived_list', board_user_role_id: parseInt(list.board.board_user_role_id)})))) {%><a title="<%- i18next.t('Send to board') %>" class="js-send-list-to-board" data-list_id="<%- list.attributes.id %>"><i class="icon-reply"></i></a><%}%><% if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: 'delete_all_archived_lists', board_user_role_id: parseInt(list.board.board_user_role_id)})))) {%><a title="<%- i18next.t('Delete') %>" class="js-delete-archived-list" data-list_id="<%- list.attributes.id %>"><i class="icon-remove btn btn-link"></i></a><%}%></div>
<% }}else{ %>
<span class="alert alert-info">
	<%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('lists')] }) %>
</span>
<%}%>