<% if(card != null){ if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(card.acl_links.where({slug: "view_archived_cards",board_user_role_id: parseInt(card.board_user_role_id)})))){ %>
<a href="#/card/<%- card.attributes.id%>" class="highlight-icon pull-left"><%-card.attributes.name%></a><div class="pull-right"><% if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(card.acl_links.where({slug: 'send_back_to_archived_card', board_user_role_id: parseInt(card.board_user_role_id)})))) {%><a title="<%- i18next.t('Send to board') %>" class="js-send-card-to-board <% if (!_.isEmpty(role_links.where({slug: 'add_organization'}))) {%>send_back_to_archived_card <%}%>" data-card_id="<%-card.attributes.id%>"><i class="icon-reply"></i></a><%}%><% if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(card.acl_links.where({slug: 'delete_all_archived_cards', board_user_role_id: parseInt(card.board_user_role_id)})))) {%><a class="js-delete-archived-card" data-card_id="<%-card.attributes.id%>" title="<%- i18next.t('Delete') %>"><i class="icon-remove btn btn-link"></i></a><%}%></div>
<% }}else{ %>
<span class="alert alert-info">
	<%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('cards')] }) %>
</span>
<%}%>
