<% if(attachment != null){ %> 
	<a target="_blank" href="<%= attachment.downloadLink('download', attachment.get('id')) %>?view" class="pull-left navbar-btn img-thumbnail thumb-img">
		<% if(attachment.get("name").match(/\.(jpg|jpeg|png|gif)$/)){ 
			var picture_path = attachment.showImage('CardAttachment', attachment.attributes.id, 'large_thumb' );
		%>
			<img src="<%= picture_path%>" class="img-responsive center-block">
		<% } else{ 
			 var extension = attachment.attributes.name.split('.');
		%>
			<p class="thumb-img"><span class="h1 navbar-btn"><% if(!_.isUndefined(extension) && extension.length > 1) { %><%- extension[extension.length - 1].toUpperCase() %><% }%></span></p>
		<% }%>
	</a>
	<div class="clearfix btn-block col-xs-12">
		<a target="_blank" class="htruncate col-xs-12 btn-block" href="<%= attachment.downloadLink('download', attachment.get('id')) %>" title="<%- attachment.get('name') %>"><%- attachment.get('name') %>
		<span class="show"><%- i18next.t("Added") %> <small class="text-muted"><abbr class="timeago" title="<%- attachment.get('created') %>"><%- attachment.get("created") %></abbr></small></span>
		</a> 
		<%if(!_.isUndefined(authuser.user)) {%>
		<div class="btn-toolbar navbar-btn">
			<div class="btn-group btn-group-xs navbar-btn">
				<div class="btn btn-primary">
				<% var download_link = attachment.downloadLink('download', attachment.get('id')); %>
					<a target="_blank" href="<%= download_link %>" title="<%- i18next.t('Download') %>">
						<i class="icon-arrow-down cur icon-light"></i>
					</a>
				</div>
				<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "remove_card_attachment", board_user_role_id: parseInt(board.board_user_role_id)})))) { %> 
					<div class="dropdown dropdown pull-left">
						<a href="#" title="Delete" class="js-show-confirm-delete-attachment dropdown-toggle btn btn-default btn-xs" data-toggle="dropdown"><i class="icon-remove cur"></i></a>
						<ul class="dropdown-menu arrow list-unstyled">
							<li class="js-dropdown-popup js-attachment-confirm-respons-<%- attachment.id %>"></li>
						</ul>
					</div>
				<% } %>
			</div>
		</div>
		<% } %>
	</div>
<% }else{ %> 
	<span class="alert alert-info"><%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('attachments')] }) %></span>
<% } %> 