<% if (templateName === 'two-step-verification') {  %>
<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
    <h2 title="<%- i18next.t('Two-step Verification Method') %>" class="text-center"><%- i18next.t('Two-step Verification Method') %></h2>
    <h5 class="text-center"><%- i18next.t('Scan the QR code below into your') %><a href="https://support.google.com/accounts/answer/1066447?hl=en" target="_blank" title="<%- i18next.t('Google Authenticator app') %>" class="text-primary"> <%- i18next.t('Google Authenticator app') %> </a><%- i18next.t('and then enter the verification code') %></h5>
	<div class="panel panel-default">
		 <div class="panel-body well-lg">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-2">
                <a title="QR code" href="javascript:void(0);" target="_blank"><img src="<%- user.attributes.qr_code_url %>"></a>
            </div>
            <div class="col-xs-12">
                <h5 class="text-center"><%- i18next.t("Can't scan QR codes") %>?</h2>       
                <h5 title="<%- i18next.t('You can manually enter this text code into your app') %>" class="text-center"><%- i18next.t('You can manually enter this text code into your app') %></h2>
                <h4 class="text-center"><%- user.attributes.two_factor_authentication_hash %></h4>
            </div>
		 </div>
    </div>
    <h2 class="text-center"><%- i18next.t('Two-step Verification Code') %></h2>
    <form class="clearfix" role="form" name="UserAuthenticateForm" id="UserAuthenticateForm">
        <div class="form-group">
            <label for="inputCodeNumber" class="sr-only control-label"><%- i18next.t('Code') %></label>
            <input type="text" placeholder="<%- i18next.t('Enter Your Code') %>" class="form-control change-ldap" id="inputCodeNumber" name="verification_code"  title="" autofocus required/>
        </div>
        <div class="form-group">
            <label for="submit2" class="sr-only control-label"><%- i18next.t('Verify') %></label>
            <input type="submit" class="btn btn-primary col-xs-12" value="<%- i18next.t('Verify') %>" id="submitLogin" />
        </div>
    </form>
</div>
<% } else if (templateName === 'user_login') { %>
    <div class="well-sm"></div>
    <div class="well-sm"></div>
    <div class="well-sm"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
        <h2 title="<%- i18next.t('Enter two-step verification code') %>" class="text-center"><%- i18next.t('Enter two-step verification code') %></h2>
        <form class="clearfix" role="form" name="UserVerificationForm" id="UserVerificationForm">
            <input type="hidden" value="<%- user.email %>" name="email">
            <input type="hidden" value="<%- user.password %>" name="password">
            <div class="form-group">
                <label for="CodeNumber" class="sr-only control-label"><%- i18next.t('Code') %></label>
                <input type="text" placeholder="<%- i18next.t('6 digit code') %>" class="form-control" id="CodeNumber" name="verification_code"  title="<%- i18next.t('Enter verification code') %>" autofocus required/>
            </div>
            <div class="form-group">
                <label for="verifyCode" class="sr-only control-label"><%- i18next.t('Sign in') %></label>
                <input type="submit" class="btn btn-primary col-xs-12" value="<%- i18next.t('Sign in') %>" id="verifyCode" />
            </div>
        </form>
    </div>
<% } %>