<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<div class="header_innr_a navbar-left navbar-btn mob-no-mar col-sm-11 col-xs-10 nav <% if(board.attributes.organization_id == 0) { %> col-lg-6 col-md-5 <% } else { %> col-lg-5 col-md-4<% } %>">
				<div class="clearfix row-flex">
					<ul class="nav nav-pills pull-left col-flex col-flex1 <% if(board.attributes.organization_id == 0) { %> hide <% } %>">
						<% if(board.attributes.organization_id != 0) {
							var is_orgnaization_member = [];
							if (!_.isUndefined(board.attributes.organization_users) && !_.isEmpty(board.attributes.organization_users) && board.attributes.organization_users !== null && !_.isUndefined(authuser) && !_.isEmpty(authuser) && authuser !== null) { 
								is_orgnaization_member = board.attributes.organization_users.filter(function(org_user) {
									return parseInt(org_user.user_id) === parseInt(authuser.user.id);
								}).length;
							} %>
						<li>
							<% if(is_orgnaization_member !== 0 || parseInt(board.attributes.organization_visibility) === 1 || (!_.isUndefined(authuser) && !_.isEmpty(authuser) && authuser !== null && parseInt(authuser.user.role_id) === 1)) { %>
							<a href="#/organization/<%= board.attributes.organization_id %>" class="hdrorganization text-muted btn btn-link pull-left htruncate col-lg-10 col-sm-10 col-md-9 col-xs-9 nav" title="<%- board.attributes.organization_name %>">
								<%
									var logo_path = "img/default-organization.png"; 
									if (!_.isUndefined(board.attributes.organization_logo_url) && board.attributes.organization_logo_url != null && board.attributes.organization_logo_url != '') {
										logo_path = board.showImage('Organization', board.attributes.organization_id, 'small_thumb' );
									}
								%>
								<span><img src="<%= logo_path %>" height="16" width="16" alt="[Image: <%= board.attributes.organization_name%>]" title="<%= board.attributes.organization_name%>"></span> 
								<strong><%- board.attributes.organization_name %></strong>
							</a>
							<% } else if (parseInt(board.attributes.organization_visibility) === 2) { %>
								<a href="javascript:void(0);" class="hdrorganization text-muted btn btn-link pull-left htruncate col-lg-10 col-sm-10 col-md-9 col-xs-9 nav" title="<%- i18next.t('Private Organization') %>"><strong><%- i18next.t('Private Organization') %></strong></a>
							<% } %>
						<span class="navbar-btn mob-no-mar pull-left icon"><span class="orgseperator navbar-btn pull-left">|</span></span>
						</li>
						<% } %>
					</ul>
					<div class="navbar-btn pull-left mob-no-mar list-group-item-text col-flex <% if(board.attributes.organization_id != 0) { %> col-flex2 <% } else { %> col-flex3  <% } %>">	
						<form name="BoardStarForm" id="BoardStarForm">
							<input id="inputBoardStar" name="is_starred" type="hidden" value="<%if(!_.isUndefined(star)) {%><%- star.attributes.is_starred %><%}else{%>0<%}%>"> 
							</form>
						<div class="col-xs-12 pull-left navbar-btn list-group-item-text <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 ||  !_.isEmpty(board.acl_links.where({slug: 'edit_board',board_user_role_id: parseInt(board.board_user_role_id)})))) { %>dropdown<% } %>">
							<% if(!_.isEmpty(role_links.where({slug: "starred_board"}))){ %>
							<% if(!_.isUndefined(star) && (parseInt(star.attributes.is_starred) === 1)) { %>
							<a href="#" class="js-star-board pull-left" name="unstar" title="
	<%- i18next.t('Unstar') %>"><i class="icon-star text-primary"></i></a>
							<% } else { %>
							<a href="#" class="js-star-board pull-left" name="star" title="
	<%- i18next.t('Star') %>"><i class="icon-star-empty"></i></a>
							<% } %>
							<% } %>
							<a href="#" class="js-star-load pull-left text-primary hide"><img src="img/star-load.gif" alt="[Images: Star]" title="
	<%- i18next.t('Star') %>"></a><a href="#" class="col-xs-10 js-board-name-truncate nav htruncate <%if(!_.isUndefined(authuser.user)) {%>js-rename-board<%}else{%>js-no-action<%}%>" data-toggle="<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: 'edit_board',board_user_role_id: parseInt(board.board_user_role_id)})))) { %>dropdown<% } %>" title="<%- board.attributes.name %>"><strong><%- board.attributes.name %></strong></a>
						<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "edit_board",board_user_role_id: parseInt(board.board_user_role_id)})))) { %>
						<ul class="dropdown-menu dropdown-menu-left arrow arrow-left">
						<li class="js-rename-popup js-dropdown-popup dropdown-popup">
							<div class="clearfix text-center col-xs-12">
							<span class="col-xs-10"><strong>
	<%- i18next.t('Rename Board') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
							</div>
							<div class="col-xs-12 divider"></div>
							<div class="col-xs-12 text-left">
							<form class="normal" name="BoardRenameForm" id="BoardRenameForm">
								<div class="required form-group">
								<label for="inputBoardName">
	<%- i18next.t('Name') %></label>
								<input type="text" id="inputBoardName" name="name" class="form-control input-sm" title="
	<%- i18next.t('Whitespace is not allowed') %>" required pattern=".*\S+.*" value="<%- board.attributes.name %>">
								</div>
								<div class="submit">
								<input type="submit" value="
	<%- i18next.t('Rename') %>" id="submitBoardRename" class="btn btn-primary btn-sm">
								</div>
							</form>
							</div>
						</li>
						</ul>
						<% } %>
						</div>
				</div>
					</div>
					</div>
					<div class="navbar-header"><button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" type="button"> <span class="sr-only">
	<%- i18next.t('Toggle navigation') %></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></div>
				<nav class="navbar-collapse collapse mob-no-pad">
					<div class="navbar-right">
					<div class="btn-group pull-left js-clear-filter-btn hide">
						<button type="button" class="btn btn-default"><%- i18next.t('Clear Filter') %></button>
						<button type="button" class="btn btn-primary">
							<span class="icon-remove cur"></span>
						</button>
					</div>
					<ul class="nav nav-pills pull-left pillsuser-list right-mar  headernav_rgtusr">
						<li class="dropdown"> <a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle show clearfix navbar-btn h4">
						<% 
					var i = 1;
					var admin_board_users_count = board.admin_board_users.length;
					var normal_board_users_count = board.normal_board_users.length;
					_.each(board.admin_board_users, function(admin_board_user){ 
					if(i <= 3){
					%>
								<span class="pull-left btn-xs nav">
						<span class="col-xs-12 btn-block" title="<%-admin_board_user.attributes.full_name %> (<%-admin_board_user.attributes.username %>)">
							<% if(!_.isEmpty(admin_board_user.attributes.profile_picture_path)) {
									var profile_picture_path = board.showImage('User', admin_board_user.attributes.user_id, 'small_thumb' );%>
							<img  width="30" height="30" class="img-responsive img-rounded board-user-img" title="<%-admin_board_user.attributes.full_name %> (<%-admin_board_user.attributes.username %>)" alt="[Images: <%-admin_board_user.attributes.full_name %>]" src="<%=profile_picture_path %>">
							<% } else {%>
								<i class="avatar avatar-color-194 img-rounded"><%= (admin_board_user.attributes.initials) %></i>
							<% } %>
							<% if(board.board_user_roles && parseInt(admin_board_user.attributes.board_user_role_id) === 1){ %>
								<% _.each(board.board_user_roles, function(board_user_role){
										var ownerRole;  
										if (board_user_role.id == 1) {
											ownerRole = board_user_role.name;%> 
											<span class="name-block col-xs-1 label btn-xs col-xs-push-0 htruncate"><%- i18next.t('%s', { postProcess: 'sprintf', sprintf: [ownerRole]}) %></span>
										<%}
								});%>
							<% } %>
						</span>
					</span>
					<% i++; }}); %>
					<% if(admin_board_users_count < 3){ 
					_.each(board.normal_board_users, function(normal_board_user){
					if(i <= 3){
					var mobHidden='';
					if(i !== 1){
						mobHidden = 'hidden-xs';
					}
					%>
								<span class="pull-left btn-xs nav <%- mobHidden %>">
						<span class="col-xs-12 btn-block" title="<%-normal_board_user.attributes.full_name %> (<%-normal_board_user.attributes.username %>)">
							<% if(!_.isEmpty(normal_board_user.attributes.profile_picture_path)) {
									var profile_picture_path = board.showImage('User', normal_board_user.attributes.user_id, 'small_thumb' );%>
							<img  width="30" height="30" class="img-responsive img-rounded board-user-img" title="<%-normal_board_user.attributes.full_name %> (<%-normal_board_user.attributes.username %>)" alt="[Images: <%-normal_board_user.attributes.full_name %>]" src="<%=profile_picture_path %>">
							<% } else {%>
								<i class="avatar avatar-color-194 img-rounded"><%= (normal_board_user.attributes.initials) %></i>
							<% } %>
						</span>
					</span>
					<% i++; }}); }%>
					<span class="table-members  label small hidden-xs user-prf-new"> <span class="">
								<% _.each(board.board_user_roles, function(board_user_role){
									var owner;  
									if (board_user_role.id == 1) {
										owner = board_user_role.name;%> 
										<span class="show text-left" title="<%- i18next.t('%s %s', { postProcess: 'sprintf', sprintf: [owner,admin_board_users_count]}) %>"><%- i18next.t('%s %s', { postProcess: 'sprintf', sprintf: [owner,admin_board_users_count]}) %></span>
									<% }
								}); %> 
						<span class="show text-left" title="<%- i18next.t('Member %s', { postProcess: 'sprintf', sprintf: [normal_board_users_count]}) %>"><%- i18next.t('Member %s', { postProcess: 'sprintf', sprintf: [normal_board_users_count]}) %></span></span> </span> </a>
						<ul class="list-unstyled js-visibility-chooser dropdown-menu-left dropdown-menu arrow arrow-left">
							<li class="text-center">
							<strong><%- i18next.t('Members') %></strong>
							<span href="#" class="js-close-popover pull-right col-xs-2"><i class="icon-remove cur"></i></span>
							</li>
							<li class="divider"></li>
							<li class="col-xs-12">
							<ul class="list-unstyled clearfix js-get-board-member-lists-response">
							</ul>
							<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "add_board_users",board_user_role_id: parseInt(board.board_user_role_id)})))) {%>
							<ul class="list-unstyled clearfix js-hide-on-offline">
							<li class="col-xs-12 navbar-btn text-left">
									<div class="js-add-board-member-dropdown dropdown inner-dropdown col-xs-12"> 
										<a href="#" class="text-muted" data-toggle="dropdown"><%- i18next.t('Add Member') %>...</a>
										<ul class="dropdown-menu arrow">
											<li>
												<div class="col-xs-12 text-center clearfix">
												<span class="col-xs-10"><strong><%- i18next.t('Members') %></strong></span><a class="js-close-popover-board-member-dropdown pull-right" href="#"><i class="icon-remove"></i></a>										
												</div> 
												<div class="col-xs-12 divider"></div>
												<div class="col-xs-12">
												<form method="post" class="text-center" id="js-add-board-member-form">
													<div class="form-group">
													<label class="sr-only"><%- i18next.t('Search Member') %></label>
													<input type="text" autocomplete="off" id="inputBoardUserSearch" placeholder="<%- i18next.t('Email or Username') %>" name="email" title="<%- i18next.t('Email or Username') %>" required class="js-search-users form-control input-sm">
													</div>
												</form>
												</div>
												</li>
												<li class="js-board-member-search-response col-xs-12 pre-scrollable vertical-scrollbar">
												<span class="small"><%- i18next.t('Search for a person in %s by name or email address.', { postProcess: 'sprintf', sprintf: [SITE_NAME]}) %></span>
											</li>
										</ul>
									</div>
								</li>
								</ul>
								<% } %>
							</li>
						</ul>
						</li>
					</ul>
					<ul class="nav nav-pills pull-left hdrpvtvws">
						<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "edit_board", board_user_role_id: parseInt(board.board_user_role_id)})))) { %> 
						<li>
							<div class="btn-group navbar-btn js-visibility-list-dropdown dropdown">
								<% 	var board_visibility = '';
									var board_visibility_icon = '';
									if(board.attributes.board_visibility == 0) { 
										board_visibility = i18next.t('Private');
										board_visibility_icon = 'icon-lock';
									} else if(board.attributes.board_visibility == 1 && board.attributes.organization_id > 0) {
										board_visibility = i18next.t('Organization');
										board_visibility_icon = 'icon-group';
									} else if(board.attributes.board_visibility == 2) {
										board_visibility = i18next.t('Public');
										board_visibility_icon = 'icon-circle';
									}
								%>
								<button class="btn btn-default btn-sm js-board-visibility" type="button"><i class="<%- board_visibility_icon%>"></i><span class="hidden-xs"><%= board_visibility %></span></button>
								
								<button class="btn btn-default btn-sm dropdown-toggle active js-board-visibility" type="button"> <span><i class="icon-caret-down cur"></i></span> <span class="sr-only"><%- i18next.t('Toggle Dropdown') %></span> </button>
								
								<ul class="dropdown-menu arrow arrow-right col-xs-push-0">
									<li class="js-visibility-popup js-dropdown-popup dropdown-popup col-xs-12">          
										<div class="clearfix text-center"><a class="js-back-to-board-visibility hide pull-left" href="javascript:void(0);"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong><%- i18next.t('Change Visibility') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
										</div>
									</li>
									<li class="col-xs-12 divider js-visibility-list"></li>
								</ul>
						</div>
									</li>
						<% } else { %>
						<li>
							<div class="btn-group navbar-btn js-visibility-list-dropdown dropdown">
								<% 	var board_visibility = '';
									var board_visibility_icon = '';
									if(board.attributes.board_visibility == 0) { 
										board_visibility = 'Private';
										board_visibility_icon = 'icon-lock';
									} else if(board.attributes.board_visibility == 1 && board.attributes.organization_id > 0) {
										board_visibility = 'Organization';
										board_visibility_icon = 'icon-group';
									} else if(board.attributes.board_visibility == 2) {
										board_visibility = 'Public';
										board_visibility_icon = 'icon-circle';
									}
								%>
								<button class="btn btn-default btn-sm" type="button"><i class="<%- board_visibility_icon%>"></i><span class="hidden-xs"><%= board_visibility %></span></button>
							</div>
						</li>
						<% } %>
						<li class="js-switch-view"><a href="javascript:void(0);" class=" navbar-btn h4 js-switch-grid-view text-muted list-group-item-text" title="<%- i18next.t('Grid') %>" data-placement="bottom" data-toggle="tooltip"><i class="icon-th"></i></a></li>
						<li class="js-switch-view"><a href="javascript:void(0);" class=" navbar-btn h4 js-switch-list-view text-muted list-group-item-text" title="<%- i18next.t('List') %>" data-placement="bottom" data-toggle="tooltip"><i class="icon-list-ul"></i></a></li>
						<li class="js-switch-view gantt_view_labels"><a href="javascript:void(0);" class=" navbar-btn h4 js-switch-calendar-view text-muted list-group-item-text" title="<%- i18next.t('Calendar') %>" data-placement="bottom" data-toggle="tooltip"><i class="icon-calendar"></i></a></li>
					</ul>
					<div class="pull-right dropdown"> 
						<a class="navbar-btn icon h4 btn btn-primary dropdown-toggle js-back-setting-response col-sm-offset-1 show js-show-board-actions" type="button"><i class="icon-cog h3 cur"></i></a>
						<ul class="dropdown-menu arrow arrow-right col-xs-12 js-setting-response">
								<!-- <li class="js-sync-google-dropdown inner-dropdown js-invite-users"><a data-toggle="dropdown" href="#" class="js-invite-users"><span class="icon-sm icon-user icon-type"></span> <%- i18next.t('Invite') %>
								</a></li> -->
								<li class="js-list-form"><a class="nav-list-item js-show-filters" href="#"><span class="icon-sm icon-filter icon-type"></span> <%- i18next.t('Filter Cards') %></a></li>
								<% if(!_.isUndefined(authuser.user)) {%>
									<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "delete_labels",board_user_role_id: parseInt(board.board_user_role_id)})))) { %>
									<li><a class="nav-list-item js-show-labels" href="#"><span class="icon-sm  icon-tag icon-type"></span> <%- i18next.t('Labels') %></a></li>
									<% } %>
								<% } %>
								<% if(!_.isUndefined(authuser.user)) {%>
									<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "view_archived_lists",board_user_role_id: parseInt(board.board_user_role_id)})) || !_.isEmpty(board.acl_links.where({slug: "view_archived_cards",board_user_role_id: parseInt(board.board_user_role_id)})))) { %>
									<li><a class="nav-list-item js-archived-items" href="#"><span class="icon-sm icon-archive icon-type"></span> <%- i18next.t('Archived Items') %></a></li>
									<% } %>
								<% } %>
								<% if(!_.isUndefined(authuser.user)){ %>
								<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "view_sync_calendar",board_user_role_id: parseInt(board.board_user_role_id)})))) { %>
								<li class="js-sync-google-dropdown inner-dropdown"><a href="#" class="js-syn-google-calendar" data-toggle="dropdown"><span class="icon-calendar"></span> <%- i18next.t('iCal Feed') %></a>
								</li> 
								<% } %>
								<li class="divider"></li>
								<%if(!_.isUndefined(authuser.user)) {%> 
									<li class="navbar-btn right-mar">
									<form name="BoardSubscribeForm" id="BoardSubscribeForm">
										<input id="inputBoardSubscribe" name="is_subscribed" type="hidden" value=" <% if(!_.isUndefined(subscriber)) { %> <%- subscriber.attributes.is_subscribed %><%}else{%>0<%}%>">
									</form> 
									<% if(!_.isUndefined(subscriber) && parseInt(subscriber.attributes.is_subscribed)) { %>
									<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || ((!_.isEmpty(board.acl_links.where({slug: "board_subscriber",board_user_role_id: parseInt(board.board_user_role_id)}))) || (!_.isEmpty(role_links.where({slug: "unsubscribe_board"})) && board.attributes.board_visibility == 2)))) { %>
									<a href="#" class="js-show-unsubscribe-form navbar-btn h4 list-group-item-text" name="unsubscribe" title="<%- i18next.t('Subscribed') %>"><i class="icon-eye-close"></i><span><%- i18next.t('Subscribed') %> <i class="icon-ok js-filter-icon cur"></i></span></a>
									<% } %>
									<% } else {%>  
									<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || ((!_.isEmpty(board.acl_links.where({slug: "subscribe_board",board_user_role_id: parseInt(board.board_user_role_id)})))  || (!_.isEmpty(role_links.where({slug: "subscribe_board"})) && board.attributes.board_visibility == 2)))){ %>
									<a href="#" class="js-show-subscribe-form navbar-btn h4" name="subscribe" title="<%- i18next.t('Subscribe') %>"><i class="icon-eye-open"></i><span><%- i18next.t('Subscribe') %></span></a>
									<% } %>
									<% } %>
									</li>
									<% if (!_.isUndefined(APPS) && APPS !== null && !_.isUndefined(APPS.enabled_apps) && APPS.enabled_apps !== null && (($.inArray('r_gridview_configure',APPS.enabled_apps) !== -1 && (!_.isEmpty(role_links.where({slug: "r_gridview_configure"})))) || ($.inArray('r_listview_configure',APPS.enabled_apps) !== -1 && (!_.isEmpty(role_links.where({slug: "r_listview_configure"}))))) && !_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "edit_board",board_user_role_id: parseInt(board.board_user_role_id)})))) {%>
									<li><a href="#" class="nav-list-item nav-list-sub-item js-choose-columns"> <%- i18next.t('Choose Columns...') %></a></li>
									<%}%>
									<li class="js-background-change"></li>
									<% }%>
								<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "edit_board",board_user_role_id: parseInt(board.board_user_role_id)})))) {%>
								<% 
									var background_color = board.attributes.background_color; 
									var background_picture_url = board.attributes.background_picture_url; 
									var background_pattern_url = board.attributes.background_pattern_url; 
									var preview = ''; 
									if (!_.isEmpty(background_picture_url) && background_picture_url != 'NULL') { 
										background_picture_url = background_picture_url.replace("_XXXX.jpg", "_b.jpg");
										preview = '<span style="background-image:url(' + background_picture_url + ');" class="background-box show well-lg"></span>'; 
									} else if (!_.isEmpty(background_pattern_url) && background_pattern_url != 'NULL') { 
										background_pattern_url = background_pattern_url.replace("_XXXX.jpg", "_b.jpg");
										preview = '<span style="background-image:url(' + background_pattern_url + ');" class="background-box show well-lg"></span>'; 
									} else if (!_.isEmpty(background_color) && background_color != 'NULL') { 
										preview = '<span style="background-color:' + background_color + '" class=" background-box show well-lg"></span>'; 
									}
								%>
								<li><a href="#" class="nav-list-item nav-list-sub-item js-change-background"> <%- i18next.t('Change Background') %></a></li>
								<% if(!_.isEmpty(IMAP_EMAIL)){ %>
								<li><a href="#" class="nav-list-item nav-list-sub-item js-email-to-board-settings"> <%- i18next.t('Email to board settings') %></a></li>
								<% } %>
								<% }%>
								<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "copy_board",board_user_role_id: parseInt(board.board_user_role_id)})))) {%>
								<li class="js-sync-google-dropdown inner-dropdown"><a data-toggle="dropdown" href="#" class="js-show-copy-board"><%- i18next.t('Copy Board') %></a>
								</li>
								<% }%>
								<% }%>
								<li class="divider"></li>
								<li class="js-chat-history-enable"><a href="#" class="js-show-board-modal" data-toggle="modal" data-target="#modalListView"><%- i18next.t('Show Attachments') %></a></li>
								<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({slug: "edit_board",board_user_role_id: parseInt(board.board_user_role_id)})))) {%>
								<li><a href="#" class="js-additional-settings"><%- i18next.t('Additional Settings') %></a></li>
								<% if(!board.attributes.is_closed) {%>
								<li class="divider"></li>
								<li class="dropdown js-open-dropdown dropup"><a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sm icon-warning-sign icon-type text-primary"></i><%- i18next.t('Close Board') %></a>
									<ul class="dropdown-menu dropdown-menu-left dropup-arrow">
									<li class="js-dropdown-popup dropdown-popup">
										<div class="clearfix text-center col-xs-12">
										<span class="col-xs-10"><strong><%- i18next.t('Close Board') %></strong></span><a class="js-close-sub-popover pull-right" href="#"><i class="icon-remove"></i></a>						
										</div>
										<div class="col-xs-12 divider"></div>
										<div class="col-xs-12">
										<form class="normal" name="BoardCloseForm" id="BoardCloseForm">
											<input id="inputBoardClose" name="is_closed" type="hidden" value="true">
											<p><%- i18next.t('You can reopen the board by clicking the "Boards" menu from the header, selecting "View Closed Boards", finding the board and clicking "Reopen".') %></p>
											<div class="submit">
											<input type="submit" value="<%- i18next.t('Close') %>" id="submitBoardClose" class="btn btn-primary js-close-board">
											</div>
										</form>
										</div>
									</li>
									</ul>
								</li>
								<% } %>
								<% } %>
						</ul>
					</div>
					</div>
					</nav>
			</div>
		</div>
</div>
<div class="broadcast-section container-fluid">
	<section id="broadcast_information" class="hide hidden-xs">
	</section>
	<section id="broadcast_hide_arrow" class="hide hidden-xs">
		<a href="#" class="broadcast-content-show js-broadcast-show pull-right" title="show">
			<i class="icon-angle-down"></i>
		</a>
	</section>
</div>
