<li class="js-import-boards-back">
	 <div class="col-xs-12 text-center clearfix"><a href="#" class="js-back-add-boards-list pull-left"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong><%- i18next.t('Import') %> </strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i> </a></div> 
</li>
<li class="col-xs-12 navbar-btn divider js-import-boards-back"></li>
<% if(!_.isEmpty(role_links.where({slug: "add_board"}))){ %>
	<div class="col-xs-12">
			<div class="clearfix js-board-import-info">
				<div class="form-group">
					<span class="help-block no-mar"><%- i18next.t('NOTE: Board members will be created with dummy emails with the import site names as a prefix in the email. e.g.,') %></span>
					<span class="help-block no-mar"><%- i18next.t('trello-username@mailinator.com') %></span>
				</div>
			</div>
		<ul class="nav nav-pills nav-stacked js-board-import-blk">
			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-asana-form"><span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Asana.') %>"><%- i18next.t('Asana') %></span><span class="cssloader pull-right hide" id="js-board-import-asana-loader"></span></div>
			<form class="hide" id="js-board-import-asana" enctype="multipart/form-data">
				<input type="file" name="board_import_asana" class="js-board-import-asana-file"/>
			</form></li>

			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-kantree-form"><span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Kantree.io.') %>"><%- i18next.t('Kantree.io') %></span> <span class="cssloader pull-right hide" id="js-board-import-kantree-loader"></span></div>
				<form class="hide" id="js-board-import-kantree" enctype="multipart/form-data">
					<input type="file" name="board_import_kantree" class="js-board-import-kantree-file"/>
				</form>
			</li>
			
			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-pipefy-form"><span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload CSV file exported from Pipefy.') %>"><%- i18next.t('Pipefy') %></span>  <span class="cssloader pull-right hide" id="js-board-import-pipefy-loader"></span></div>
				<form class="hide" id="js-board-import-pipefy" enctype="multipart/form-data">
					<input type="file" name="board_import_pipefy" class="js-board-import-pipefy-file"/>
				</form>
			</li>
			
			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-taiga-form"> <span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Taiga.') %>"><%- i18next.t('Taiga') %></span><span class="cssloader pull-right hide" id="js-board-import-taiga-loader"></span></div>
				<form class="hide" id="js-board-import-taiga" enctype="multipart/form-data">
					<input type="file" name="board_import_taiga" class="js-board-import-taiga-file"/>
				</form>
			</li>

			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-taskwarrior-form"> <span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Taskwarrior.') %>"><%- i18next.t('Taskwarrior') %></span><span class="cssloader pull-right hide" id="js-board-import-taskwarrior-loader"></span></div>
				<form class="hide" id="js-board-import-taskwarrior" enctype="multipart/form-data">
					<input type="file" name="board_import_taskwarrior" class="js-board-import-taskwarrior-file"/>
				</form>
			</li>
			
			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-form">
				<span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Trello.') %>"><%- i18next.t('Trello') %></span> <span class="cssloader pull-right hide" id="js-board-import-loader"></span></div>
				<form class="hide" id="js-board-import" enctype="multipart/form-data">
					<input type="file" name="board_import" class="js-board-import-file"/>
				</form>
			</li>

			<li class="clearfix js-import-boards-back cur h5 btn-link"><div class="navbar-btn clearfix media htruncate js-show-board-import-wekan-form"> <span data-toggle="tooltip" data-placement="top" data-original-title="<%- i18next.t('Upload json file exported from Wekan.') %>"><%- i18next.t('Wekan') %></span><span class="cssloader pull-right hide" id="js-board-import-wekan-loader"></span>
			</span></div>
			<form class="hide" id="js-board-import-wekan" enctype="multipart/form-data">
				<input type="file" name="board_import_wekan" class="js-board-import-wekan-file"/>
			</form>
		</li>
		</ul>
	</div>
<% } %>