<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
  <div class="panel-heading lead"><%- i18next.t("Add Board User Role") %></div>
  <div class="panel-body well-lg">
	<form id="BoardUserRoleAddForm" name="BoardUserRoleAddForm" class="form-horizontal col-xs-12">
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputName"><%- i18next.t("Name") %></label>
		<input type="name" name="name" id="inputName" class="form-control" placeholder="<%- i18next.t('Name') %>" required>
	  </div>
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputDescription"><%- i18next.t("Description") %></label>
		<input type="text" name="description" id="inputDescription" class="form-control" placeholder="<%- i18next.t('Description') %>">
	  </div>
	  <div class="form-group">
		<label class="sr-only control-label" for="submitAddBoardUserRole"><%- i18next.t("Add") %></label>
		<input type="submit" class="btn btn-primary col-xs-12" id="submitAddBoardUserRole" value="<%- i18next.t('Add') %>">
	  </div>
	</form>
  </div>
</div>
</div>