<% 
	if(board.attributes.is_closed) {
		var style = '';
	if (board.attributes.background_picture_url || board.attributes.background_pattern_url || board.attributes.background_color) {
		style = 'color:#ffffff;';
	}
%>
<div class="well-lg navbar-btn">&nbsp;</div>
<div class="board-close-view">
  <strong><%- i18next.t("Board is closed") %></strong>
  <% if(!_.isUndefined(authuser.user)) { %>
  <div class="dropdown well-sm text-center"><a data-toggle="dropdown" class="dropdown-toggle btn btn-primary" href="#"><%- i18next.t("Click here to Reopen Board") %></a>
        <ul class="dropdown-menu">
      <li class="js-visibility-popup js-dropdown-popup dropdown-popup">
        <div class="clearfix text-center col-xs-12">
          <span class="col-xs-10"><strong><%- i18next.t("Reopen Board") %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
        </div>
		<div class="col-xs-12 divider"></div>
        <div class="col-xs-12  text-left">
          <form class="normal" name="BoardReopenForm" id="BoardReopenForm">
            <input id="inputBoardClose" name="is_closed" type="hidden" value="false">
            <div class="h6 btn-block"><%- i18next.t('Are you sure you want to do this action') %>?</div>
            <div class="submit">
              <input type="submit" value="<%- i18next.t('Reopen') %>" id="submitBoardReopen" class="btn btn-primary btn-sm">
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <% } %>
  </div>
  <% } else {%>
  <section class="row body-no-webkit-scrollbars">
		<div id="switch-board-view" class="clearfix js-board-view-<%- board.id%>">
			<div id="js-board-lists" class="board-list-view boardlist-scrollbar">
			<%
			if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(board.acl_links.where({
				slug: 'add_list',
				board_user_role_id: parseInt(board.board_user_role_id)
			})))){ %>
			  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 btn-block list" id="js-add-list-block">
				<div class="js-list-form"><a href="#" class="js-show-add-list-form toggle-show text-muted" title="<%- i18next.t('Add a list') %>"><%- i18next.t('Add a list') %></a>
				  <form class="js-add-list hide">
					<div class="form-group">
					  <label for="
					  inputListName" class="sr-only"><%- i18next.t('Name') %></label>
					  <input type="text" id="inputListName" autocomplete="off" name="name" class="form-control" placeholder="<%- i18next.t('Add a list') %>" required maxlength="255" title="<%- i18next.t('Whitespace alone not allowed') %>" required pattern=".*\S+.*">
					</div>
					<div class="form-group">
					  <input type="submit" name="Save" class="btn btn-primary" value="<%- i18next.t('Save') %>">
					  <i class="icon-remove js-hide-add-list-form btn btn-link cur" title="<%- i18next.t('Cancel') %>"></i></div>
				  </form>
				</div>
			  </div>
			  <% } %>
		 </div>          
	  </div>          
  </section>
  <% } %>