<div class="clearfix text-center col-xs-12">
	<a href="#" class="js-back-to-sidebar pull-left btn btn-xs btn-link">
			<i class="icon-caret-left"></i>
	</a>
	<span class="col-xs-10 navbar-btn"><strong><%- i18next.t('Labels') %></strong></span>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12 member-modal js-pre-scrollable vertical-scrollbar">
	<% if (board.labels.length > 0) { %>
	<ul class="nav nav-pills nav-stacked label-block">
	<% 
	board.labels.each(function(label) { %>    
		<li class="clearfix cur card-label-show h5 btn-link media">
			<span style="background:#<%- converter.colorCode(label.attributes.name).substring(0, 6) %>;color:#ffffff" class="pull-left btn btn-xs"><i class="<%= LABEL_ICON %> icon-light"></i></span><div class="htruncate"><%-label.attributes.name %></div><div><a data-id="<%- label.attributes.label_id %>" class="js-delete-labels btn  btn-primary pull-right">
			<%- i18next.t("Delete") %></a></div> 
		</li> 
	<% }); %>
	</ul>
	<hr>
	<% } %>
</div>