<div class="container-fluid">
	<div class="row">
        <div class="pull-left">
            <div class="clearfix">
                <h2 class="pull-left navbar-btn list-group-item-text"><span class="pull-left"><a href="#/" title="<%- SITE_NAME %>"><img src="img/logo.png" alt="[Image: <%- SITE_NAME %>]" title="<%- SITE_NAME %>" class="img-responsive center-block"/></a></span>
					<ul class="list-inline pull-left h3 navbar-btn text-center">
						 <li class="navbar-btn text-muted"><span class="h5">&nbsp;/&nbsp;</span></li>
						<li><span class="text-muted h4"><%- i18next.t('Dashboard') %></span></li>
					</ul>
				</h2>
            </div>
        </div>
		<div class="navbar-header"><button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" type="button"> <span class="sr-only"><%- i18next.t('Toggle navigation') %></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button></div>
    </div>
</div>    