<a title="<%- user.attributes.full_name %> (<%- user.attributes.username %>)" href="#" class="dropdown-toggle js-show-board-user-action pull-left" data-toggle="dropdown"> <span data-placement="bottom" title="<%- user.attributes.full_name %> (<%-user.attributes.username %>)" data-toggle="tooltip" class="col-xs-12 btn-block navbar-btn">				
	<% if(!_.isEmpty(user.attributes.profile_picture_path)) { 
		var profile_picture_path = user.showImage('User', user.attributes.user_id, 'small_thumb' );
	%>
		<img src="<%=profile_picture_path %>" alt="[Image: <%-user.attributes.full_name %>]" title="<%-user.attributes.full_name %> (<%-user.attributes.username %>)" class="img-rounded img-responsive avatar">
	<% } else {%>
		<i class="avatar avatar-color-194 img-rounded"><%- user.attributes.initials %></i>									
	<% } %>
	<% if(user.board_user_roles[user.attributes.board_user_role_id - 1].id === 1){ %>
		<span class="name-block col-xs-1 label btn-xs col-xs-push-0"><%- i18next.t('Owner') %></span>
	<% } %>
</span></a>
		<ul class="dropdown-menu dropdown-menu-left arrow arrow-left">
			<li class="js-show-board-user-action-response js-dropdown-popup dropdown-popup">
				
			</li>
		</ul>