<div class="container-fluid">
	<div class="row">
        <div class="pull-left">
            <div class="clearfix">
                <h2 class="pull-left navbar-btn list-group-item-text"><span class="pull-left"><a href="#/boards" title="<%- SITE_NAME %>"><img src="img/logo.png" alt="[Image: <%- SITE_NAME %>]" title="<%- SITE_NAME %>" class="img-responsive center-block"/></a></span>
					<ul class="list-inline pull-left h3 navbar-btn text-center">
						 <li class="navbar-btn text-muted"><span class="h5">&nbsp;/&nbsp;</span></li>
						<li><span class="text-muted h4"><%- i18next.t('Dashboard') %></span></li>
					</ul>
				</h2>
            </div>
        </div>
		<div class="navbar-header">
			<button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" type="button"> 
				<span class="sr-only"><%- i18next.t('Toggle navigation') %></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
		</div>
		<nav class="navbar-collapse collapse mob-no-pad">
			<div class="navbar-right">
			  	<ul class="nav nav-pills pull-left pillsuser-list navbar-btn h4 right-mar">
					<li class="dropdown"> 
						<a title="Feedback" href="http://restya.com/contact?utm_source=Restyaboard - <%- SITE_NAME %>&utm_medium=web&utm_campaign=feedback&category=feedback" target="_blank">Feedback</a>
				  	</li>
				</ul>
			</div>
		</nav>
	</div>
	<section id="broadcast_information" class="hide hidden-xs">
	</section>
	<section id="broadcast_hide_arrow" class="hide hidden-xs">
		<a href="#" class="broadcast-content-show js-broadcast-show pull-right" title="show">
			<i class="icon-angle-up"></i>
		</a>
	</section>
</div>    