<div class="clearfix text-center col-xs-12">
    <a href="#" class="js-back-to-sidebar pull-left btn btn-xs btn-link">
        <i class="icon-caret-left"></i>
    </a>
    <span class="col-xs-10 navbar-btn">
        <strong><%- i18next.t("Additional Settings") %></strong>
    </span>
</div>
<div class="col-xs-12 divider"></div>
<ul class="list-unstyled well-sm col-xs-12 js-board-dues">
    <li class="js-enable-covers js-AdditionalSettings-enabled <% if(!board.attributes.is_show_image_front_of_card) { %> hide <% } %>">
        <div class="cur list-group-item well-sm">
            <%- i18next.t("Card Cover Images Enabled") %>
                <i class="icon-ok"></i>
        </div>
    </li>
    <li class="clearfix js-enable-covers js-AdditionalSettings-enable list-group-item cur <% if(board.attributes.is_show_image_front_of_card) { %> hide <% } %>">
        <%- i18next.t("Enable Card Cover Images") %>
    </li>
    <li class="js-enable-board-notification js-auto_subscribe_on_board-enabled <% if(!board.attributes.auto_subscribe_on_board) { %> hide <% } %>">
        <div class="cur list-group-item well-sm">
            <%- i18next.t("Automatically subscribe a member when he's added to a board") %>
                <i class="icon-ok"></i>
        </div>
    </li>
    <li class="clearfix js-enable-board-notification js-auto_subscribe_on_board-enable list-group-item cur <% if(board.attributes.auto_subscribe_on_board) { %> hide <% } %>">
        <%- i18next.t("Automatically subscribe a member when he's added to a board") %>
    </li>
    <li class="js-enable-card-notification js-auto_subscribe_on_card-enabled <% if(!board.attributes.auto_subscribe_on_card) { %> hide <% } %>">
        <div class="cur list-group-item well-sm">
            <%- i18next.t("Automatically subscribe a member when he's added to a card") %>
                <i class="icon-ok"></i>
        </div>
    </li>
    <li class="clearfix js-enable-card-notification js-auto_subscribe_on_card-enable list-group-item cur <% if(board.attributes.auto_subscribe_on_card) { %> hide <% } %>">
        <%- i18next.t("Automatically subscribe a member when he's added to a card") %>
    </li>
</ul>
<div class="col-xs-12 divider"></div>
<div class="clearfix col-xs-12">
    <form class="normal" name="BoardSoryBy" id="BoardSoryBy">
        <span class="col-xs-12 text-center well-sm">
            <strong><%- i18next.t("Default sort for cards") %></strong>
        </span>
        <div class="form-group">
            <select class="js-select-list form-control input-sm cur js-sort-by-group" placeholder="<%- i18next.t('Sort by') %>">
                <option <% if(board.attributes.sort_by === 'position'){ %>selected<% } %> value="position"><%- i18next.t('Position') %></option>
                <option <% if(board.attributes.sort_by === 'id'){ %>selected<% } %> value="id"><%- i18next.t('ID') %></option>
                <option <% if(board.attributes.sort_by === 'due_date'){ %>selected<% } %> value="due_date"><%- i18next.t('Due date') %></option>
                <option class="js-cardName" <% if(board.attributes.sort_by === 'name'){ %>selected<% } %> value="name"><%- i18next.t('Card Name') %></option>
                <option class="js-createdDate" <% if(board.attributes.sort_by === 'created_date'){ %>selected<% } %> value="created_date"><%- i18next.t('Created date') %></option>
                <option class="js-listMovedDate" <% if(board.attributes.sort_by === 'list_moved_date'){ %>selected<% } %> value="list_moved_date"><%- i18next.t('List moved date') %></option>
                <option <% if(board.attributes.sort_by === 'card_voter_count'){ %>selected<% } %> value="card_voter_count"><%- i18next.t('Votes') %></option>
                <option <% if(board.attributes.sort_by === 'attachment_count'){ %>selected<% } %> value="attachment_count"><%- i18next.t('Attachments') %></option>
                <option <% if(board.attributes.sort_by === 'comment_count'){ %>selected<% } %> value="comment_count"><%- i18next.t('Comments') %></option>
                <option <% if(board.attributes.sort_by === 'checklist_item_pending_count'){ %>selected<% } %> value="checklist_item_pending_count"><%- i18next.t('Checklist pending count') %></option>
                <option <% if(board.attributes.sort_by === 'checklist_item_completed_count'){ %>selected<% } %> value="checklist_item_completed_count"><%- i18next.t('Checklist completed count') %></option>
            </select>
        </div>
        <div class="form-group">
            <select class="js-select-list form-control input-sm cur js-sort-direction-group" placeholder="<%- i18next.t('Sort direction') %>">
                <option <% if(board.attributes.sort_direction === 'asc'){ %>selected<% } %> value="asc"><%- i18next.t('Asc') %></option>
                <option <% if(board.attributes.sort_direction === 'desc'){ %>selected<% } %> value="desc"><%- i18next.t('Desc') %></option>
            </select>
        </div>
        <div class="submit">
            <input type="submit" value="Save" id="submitBoardSoryBy" class="btn btn-primary">
        </div>
    </form>
</div>