<% if(card != null && !_.isEmpty(card)){ %>
<td>
 <ul class="unstyled  hide js-card-labels">
</ul>
<ul class="unstyled  js-card-users hide">
</ul>
<ul class="unstyled  js-card-due hide">
 <li></li>
</ul>
<div id="js-card-<%- card.attributes.id %>" class="js-show-modal-card-view panel cur">
	<div class="panel-body"> 
		<ul class="list-inline navbar-btn clearfix">
		  <li class="col-md-1 col-xs-2"><span class="card-id">#<%- card.attributes.id %></span></li>
		  <li class="col-md-4 col-xs-3"><%- card.attributes.name %></li>
		  <li class="col-md-4 col-xs-3"><%- card.list_name %></li>
		  <li class="col-md-3 col-xs-4">
			<ul class="list-inline text-muted clearfix">
				  <% 
					if(!_.isUndefined(authuser) && !_.isUndefined(authuser.user)){
					var cards_subscribers = card.cards_subscribers.where({ is_subscribed: 1, user_id: parseInt(authuser.user.id) }); 
					}
					if(!_.isUndefined(cards_subscribers) && cards_subscribers > 0){ %>
					<li><small><span class="icon-eye-open"></span></small></li><% } %><% if(card.attributes.card_voter_count > 0){ %><li title="<%- i18next.t('{{count}} Vote', {count: card.attributes.card_voter_count}) %> "" data-placement="bottom" data-toggle="tooltip"><small><span class="icon-thumbs-up"></span><span><%- card.attributes.card_voter_count %>votes</span></small></li><% } %><% if(card.attributes.description !== "" && card.attributes.description !== null ){ %><li title="<%- i18next.t('Description') %>" data-placement="bottom" data-toggle="tooltip"><small><span class="icon-align-left"></span></small></li><% } %><% if(card.attributes.comment_count > 0){ %><li title="<%- i18next.t('{{count}} Comment', { postProcess: 'sprintf', sprintf: [card.attributes.comment_count]}) %> "" data-placement="bottom" data-toggle="tooltip"><small><span class="icon-comment"></span><span><%- card.attributes.comment_count %></span></small></li><% } %><% if(card.attributes.checklist_item_count > 0){ %><li title="<%- i18next.t('%s checklist completed out of %s', { postProcess: 'sprintf', sprintf: [card.attributes.checklist_item_completed_count,card.attributes.checklist_item_count]}) %> "" data-placement="bottom" data-toggle="tooltip"><small><% if(card.attributes.checklist_item_completed_count == card.attributes.checklist_item_count) { %><div class="label label-success"> <% } %><span class="icon-list-ul"></span><span><%- card.attributes.checklist_item_completed_count %>/<%- card.attributes.checklist_item_count %></span><% if(card.attributes.checklist_item_completed_count == card.attributes.checklist_item_count) { %></div><% } %></small></li><% } %><% if(card.attributes.due_date > 0){ %><li title="<%- i18next.t('Due Date') %>" data-placement="bottom" data-toggle="tooltip"><small><span class="icon-time"></span><span><%- card.attributes.due_date %></span></small></li><% } %><% if(!_.isEmpty(card.attachments) && card.attachments.length > 0){ %><li title="<%- i18next.t('{{count}} Attachment', { postProcess: 'sprintf', sprintf: [card.attachments.length]}) %> "" data-placement="bottom" data-toggle="tooltip"><small><span class="icon-paper-clip"></span> <span><%- card.attachments.length %></span></small></li><% } %><% if(!_.isEmpty(card.attributes.due_date) && card.attributes.due_date != 'NULL'){ %><%card_due_date = card.attributes.due_date.split(' ');if (!_.isEmpty(card_due_date[1])) {card_due_date = card_due_date[0] + 'T' + card_due_date[1];}var today = new Date();var last_day = new Date(today.getFullYear(), today.getMonth() + 1, 0);var next_month_last_day = new Date(today.getFullYear(), today.getMonth() + 2, 0);var due_date = new Date(card_due_date);var diff = Math.floor(due_date.getTime() - today.getTime());var day = 1000 * 60 * 60 * 24;var days = Math.floor(diff / day);var months = Math.floor((days + (today.getDate() + 1)) / next_month_last_day.getDate());var years = Math.floor(months / 12);var week = days - (6 - (today.getDay()));var label = 'label-default';if (years < 0 || months < 0 || days <= -1) {label = 'label-danger';}%><li title="<%- i18next.t('Due Date') %>" data-placement="bottom" data-toggle="tooltip"><small><span class="label <%- label %>"><% var date_time = card.attributes.due_date.split('T'); date_time = date_time[0].split(' '); %><%= dateFormat(date_time[0], 'mediumDate')  %></span></small></li><% } %>
			</ul>
		  </li>
		</ul>
	</div>
</div>
</td>
<% } else{ %><td colspan="4"  class="text-center alert alert-info"><%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('cards')] }) %></td><% } %>