<% if(card != null && !_.isEmpty(card)){ %>
<td data-title="<%- i18next.t('ID') %>" class="card-id ">#<%- card.attributes.id %></td>
<%if (!_.isUndefined(card.labels) && !_.isEmpty(card.labels) && card.labels.length > 0) { %>
	<td data-title="<%- i18next.t('Labels') %>">
	<% card.labels.each(function(label) {
		if (!_.isUndefined(label) && label.attributes.name !== "") { %>
		<span data-container="body" data-placement="bottom" title="<%- label.attributes.name %>" data-toggle="tooltip"><%- label.attributes.name %></span><br />
			
<%         }
	});
} else {%>
	<td data-title="<%- i18next.t('Labels') %>" > - </td>
	<% } %>
</td>
<td data-title="<%- i18next.t('Card Name') %>"><%- card.attributes.name %></td>
<td data-title="<%- i18next.t('List Name') %>"><%- card.list_name %></td>
<% if(!_.isUndefined(card.users) && !_.isEmpty(card.users) && card.users.length > 0) { %>}
<td data-title="<%- i18next.t('Members') %>" >
	<%
		card.users.each(function(card_user) {
			if (!_.isUndefined(card_user)) {
	%>
				<span data-container="body" data-placement="bottom" title="<%-card_user.attributes.full_name %> (<%-card_user.attributes.username %>)" data-toggle="tooltip"><%-card_user.attributes.full_name %></span><br />
					
	<%		
			}
		});
	%>
		</ul>
</td>
<% } else { %>
	<td data-title="<%- i18next.t('Members') %>" > - </td>
<% } %>
<td class="hide js-list-view-start-date-data js-list-view-start-date-<%- card.attributes.id %>" data-title="<%- i18next.t('Start Date') %>" title="<%- i18next.t('Start Date') %>" data-placement="bottom" data-toggle="tooltip" data-container="body"></td>
<% if(!_.isEmpty(card.attributes.due_date) && card.attributes.due_date != 'NULL'){ %>
	<%
		var today = new Date();
		card_due_date = card.attributes.due_date.split('T');
		var due_date = new Date(card_due_date[0]);
		var diff = Math.floor(due_date.getTime() - today.getTime());
		var day = 1000 * 60 * 60 * 24;
		var days = Math.floor(diff / day);
		if (days < -1) {
			label = 'label-past';
		} else if (days == -1) {
			label = 'label-present';
		} else if (days > -1) {
			label = 'label-future';
		}
	%>
	<td data-title="<%- i18next.t('End Date') %>" title="<%- i18next.t('End Date') %>" data-placement="bottom" data-toggle="tooltip" data-container="body"><small><span class="label <%- label %>">
	<% var date_time = card.attributes.due_date.split('T'); date_time = date_time[0].split(' '); %>
	<% 
		var date_times = card.attributes.due_date.split('T');
		date_time = date_times[0].split(' ');
		if(_.isUndefined(date_times[1])){
			var time_split =card.attributes.due_date.split(' ');
			date_times[1] = time_split['1'];
		}
		if(!_.isEmpty(date_times[1])){
			hours_mins = date_times[1].split(':');
			hours_mins = hours_mins[0]+':'+hours_mins[1]
		}
	%>
	<%= dateFormat(date_time[0], 'mediumDate')  %><%- ' '+ hours_mins %></span></small></td><% } else {%>
	<td data-title="End Date"> - </td>
	<% } %>
	<td class="hide js-list-view-estimated-time-data js-list-view-estimated-time-<%- card.attributes.id %>" title="<%- i18next.t('Estimated time') %>" data-title="<%- i18next.t('Estimated time') %>" data-placement="bottom" data-toggle="tooltip" data-container="body"></td>
	<td class="hide js-list-view-spent-time-data js-list-view-spent-time-<%- card.attributes.id %>" title="<%- i18next.t('Spent time') %>" data-title="<%- i18next.t('Spent time') %>" data-placement="bottom" data-toggle="tooltip" data-container="body"></td>
	<% 
	if(!_.isUndefined(authuser) && !_.isUndefined(authuser.user)){
	var cards_subscribers = card.cards_subscribers.where({ is_subscribed: 1, user_id: parseInt(authuser.user.id) }); 
	}
	if(!_.isUndefined(cards_subscribers) && cards_subscribers > 0){ %>
	<td data-title="<%- i18next.t('Subscribed') %>" title="<%- i18next.t('Subscribed') %>" data-placement="bottom" data-toggle="tooltip" data-container="body"><span class="icon-eye-open"></span></td><% } %>
	<% if(card.attributes.card_voter_count > 0) { %>
	<td data-title="Voters" title="<%- i18next.t('{{count}}', {count: card.attributes.card_voter_count}) %>" data-placement="bottom" data-toggle="tooltip" data-container="body"><small><%- card.attributes.card_voter_count %></small></td><% } else { %><td data-title="Voters"> <small>0</small></td><% } %>
	<% if(!_.isEmpty(card.attachments) && card.attachments.length > 0){ %>
	<td data-title="Attachments" title="<%- i18next.t('{{count}}', {count: card.attachments.length}) %> " data-placement="bottom" data-toggle="tooltip" data-container="body"><small><%- card.attachments.length %></small></td>
	<% } else { %>
	<td data-title="Attachments"><small>0</small></td>
	<% } %>
	<% if(card.attributes.comment_count > 0){ %>
	<td data-title="Comments" title="<%- i18next.t('{{count}}', {count: card.attributes.comment_count}) %> " data-placement="bottom" data-toggle="tooltip" data-container="body"><small><%- card.attributes.comment_count %></small></td>
	<% } else { %>
	<td data-title="Comments"><small>0</small></td>
	<% } %>
	<% if(card.attributes.checklist_item_count > 0){ %>
	<td data-title="Checklist" title="<%- i18next.t('%s checklist completed out of %s', { postProcess: 'sprintf', sprintf: [card.attributes.checklist_item_completed_count,card.attributes.checklist_item_count]}) %> " data-placement="bottom" data-toggle="tooltip" data-container="body"><small>
		<% if(card.attributes.checklist_item_completed_count == card.attributes.checklist_item_count) { %>
			<span class="label label-success"><%- card.attributes.checklist_item_completed_count %>/<%- card.attributes.checklist_item_count %></span>
		<% } else { %>
			<span class="label label-danger"><%- card.attributes.checklist_item_completed_count %>/<%- card.attributes.checklist_item_count %></span>
		<% } %>	
	</small></td>
	<% } else { %>
	<td data-title="Checklist"><small>-</small></td>
	<% } %>
	<% if (!_.isUndefined(APPS) && APPS !== null && !_.isUndefined(APPS.enabled_apps) && APPS.enabled_apps !== null && $.inArray('r_custom_field',APPS.enabled_apps) !== -1) { 
		if (!_.isUndefined(App.current_board) && !_.isEmpty(App.current_board) && !_.isUndefined(App.current_board.attributes.custom_fields) && App.current_board.attributes.custom_fields !== null) {
			_.each(App.current_board.attributes.custom_fields, function(customfield){ %>
				<td class="js-list-view-card-<%- card.attributes.id %>-customfield-<%- customfield.id %> card-listing-truncate" data-title="<%- customfield.label %>"><small>-</small></td>
			<% });
		} else { %>
			<td class="hide js-list-view-custom_fields-<%- card.attributes.id %>"></td>
	 <% } 
	} %>
	<% } else { %><td colspan="12"  class="text-center alert alert-info"><%- i18next.t('No %s available.', { postProcess: 'sprintf', sprintf: [i18next.t('cards')] }) %></td><% } %>