<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
	<div class="panel-heading lead"> <%- i18next.t('Change Password') %></div>
	<div class="panel-body well-lg">
		<form class="form-horizontal col-xs-12" name="UserChangePasswordForm" id="UserChangePasswordForm">
				<div class="form-group input password required">
					<label class="sr-only control-label" for="inputOldPassword"><%- i18next.t('Old Password') %></label>
					<input type="password" class="form-control" placeholder="<%- i18next.t('Old Password') %>" id="inputOldPassword" name="old_password" title="<%- i18next.t('Old Password') %>" required>
				</div>
				<div class="form-group input password required">
					<label class="sr-only control-label" for="inputPassword"><%- i18next.t('Enter a new Password') %></label>
					<input type="password" class="form-control" placeholder="<%- i18next.t('Enter a new Password') %>" id="inputPassword" name="password" required title="<%- i18next.t('Enter a new Password') %>">
				</div>
				<div class="form-group input cpassword required">
					<label class="sr-only control-label" for="inputConfirmPassword"><%- i18next.t('Confirm Password') %></label>
					<input type="password" class="form-control" placeholder="<%- i18next.t('Confirm Password') %>" id="inputConfirmPassword" name="confirm_password" required title="<%- i18next.t('Confirm Password') %>">
				</div>
				<div class="form-group">
					<label class="sr-only control-label" for="submit2"><%- i18next.t('Change Password') %></label>
					<input type="submit" class="btn btn-primary col-xs-12" value="<%- i18next.t('Change Password') %>" id="submitChangePassword" >
				</div>
		</form>
		</div>
	</div>
</div>