<div class="form-group required">
	<label for="inputitemName" class="hide"> <%- i18next.t('Name') %>
</label>
	<textarea rows="4" id="ChecklistItem" name="name" class="form-control"><%-checklist_item.get('name') %></textarea>
</div>
<div class="form-group">
	<div class="col-xs-12 h4 btn-block clearfix">
		<ul class="clearfix list-unstyled">
			<li class="pull-left">
				<div class="submit">
					<input type="submit" value="<%- i18next.t('Save') %>" class="btn btn-primary"/>
				</div>
			</li>
			<li class="pull-left">
				<a class="js-hide-item-edit-form"><i class="icon-remove btn btn-link show"></i></a>
			</li>
			<li class="pull-right">
				<ul class="list-unstyled">
					<% if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(checklist_item.board_users.board.acl_links.where({slug: "delete_checklist_item",board_user_role_id: parseInt(checklist_item.board_user_role_id)})))) { %>
					<li class="pull-right dropdown">
						<a title="<%- i18next.t('Delete') %>" class="dropdown-toggle js-show-confirm-item-delete btn btn-link btn-sm" data-toggle="dropdown" href="#"><strong><%- i18next.t('Delete') %></strong></a>
						<ul class="dropdown-menu arrow arrow-right">
							<li class="js-dropdown-popup dropdown-popup" id="js-item-actions-response-<%-checklist_item.id %>"></li>
						</ul>
					</li>
					<%  } %>
					<%
					if (!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 ||  !_.isEmpty(checklist_item.board_users.board.acl_links.where({
						slug: "convert_item_to_card",board_user_role_id: parseInt(checklist_item.board_user_role_id)
					})))) { %>
						<li class="pull-right">
							<a class="btn btn-link btn-sm pull-right js-convert-to-card" href="#" title="<%- i18next.t('Convert to Card') %>"><strong><%- i18next.t('Convert to Card') %></strong></a>
						</li>
				  <%  } %>
					<li class="dropdown navbar-right">
						<a title="<%- i18next.t('Item Options') %>" class="dropdown-toggle js-show-item-options btn btn-link btn-sm" data-toggle="dropdown" href="#"><i class="icon-chevron-sign-down"></i></a>
						<ul class="dropdown-menu arrow dropdown-menu-left" id="js-item-option-response-<%-checklist_item.id %>"></ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
