<div class="clearfix text-center col-xs-12">
	<span class="col-xs-10"><strong> <%- i18next.t('Delete Checklist') %>?
</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12" id="js-checklist-actions-response-<%= checklist.get('id') %>">
	<p><%- i18next.t('Deleting a checklist is permanent and there is no way to get it back.') %></p>
	<a class="js-delete-checklist btn  btn-primary" title="<%- i18next.t('Delete Checklist') %>"><%- i18next.t('Delete') %></a>
</div>