<div class="clearfix text-center col-xs-12">
	<span class="col-xs-10"><strong> <%- i18next.t('Options') %>
</strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div></li>
<a href="#" class="js-show-mention-member-form" title="<%- i18next.t('Mention a member') %>"><%- i18next.t('Mention a member') %></a>
<a class="js-show-emoji-list-form" title="<%- i18next.t('Add Emoji') %>" href="#"><%- i18next.t('Add Emoji') %></a>