<ul class="list-unstyled list-inline clearfix">
	<li>
		<a class="js-show-board-member-permission-form" data-board_user_id="<%= board_user_id %>" href="#">
			<span class="js-change-permission-content-<%= board_user_id %>"><%- i18next.t("Owner") %></span>
		</a>
	</li>
	<li>
		<a href="#" class="show js-board-user-activity"><%- i18next.t("Activity") %></a>
	</li>
	<li>
		<div disabled="disabled"><span><%- i18next.t("Remove from board") %></span></div>
	</li>
</ul>