<ul class="list-unstyled list-inline clearfix">
	<li>
		<a class="js-show-board-member-permission-form" data-board_user_id="<%- board_user_id %>" href="#">
			<span class="js-change-permission-content-<%- board_user_id %>"><%- i18next.t("Member") %></span>
		</a>
	</li>
	<li>
		<a href="#" class=" show js-board-user-activity"><%- i18next.t("Activity") %></a></li>
		<li>
			<a class="js-show-confirm-delete-board-member" data-board_user_id="<%- board_user_id %>" href="#">
				<span><%- i18next.t("Remove from board") %></span>
			</a>
		</li>
</ul>