<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 list js-list-<%- list.id %> js-list-sort">
		<div class="list-header js-list-head <% if(!_.isUndefined(authuser.user)){%>cur-grab<%}%> js-list_maximize_content-<%- list.id %>">
			<div class="clearfix">
			  <a href="#" class="col-xs-7 js-list-name-<%- list.id %> <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>js-show-edit-list-form<% }else{ %> js-no-action<%}%>"><span><span class="clearfix row show">
			  <strong class = "get-name-<%- list.attributes.id %>"><%- list.attributes.name %></strong> <span id="list-card-number-<%- list.attributes.id %>" title="<%- i18next.t('Number Of Cards') %>"></span></span></span></a>
			  <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
			  <form role="form" class="form-horizontal js-edit-list hide">
				  <div class="form-group">
					<label class="col-sm-4 control-label hide" for="inputListName-<%- list.id %>"><%- i18next.t("Name") %></label>
					<div class="col-sm-12">
						  <input type="text" maxlength="255" autocomplete="off" id="inputListName-<%- list.id %>" name="name" title="<%- i18next.t('Whitespace is not allowed') %>" required pattern=".*\S+.*" value="<%- list.attributes.name %>" class="form-control"/>
					  </div>
				  </div>
				  <div class="form-group">
					  <label class="sr-only col-sm-4 control-label hide" for="submit2"><%- i18next.t("Submit") %></label>
					  <div class="col-sm-12">
						  <input type="submit" name="Save" class="btn btn-primary" value="<%- i18next.t('Save') %>" />
						  <i class="icon-remove js-hide-edit-list-form btn btn-link cur" title="<%- i18next.t('Cancel') %>"></i>
					  </div>
				  </div>
			  </form>
			  <% } %>
			  <%if(!_.isUndefined(authuser.user)) {%>
			  <div class="pull-right col-xs-5 clearfix js-list-header-<%- list.id %> js-list-header-section">
				  <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
				  <div class="pull-right left-mar"><a href="javascript:void(0);" class="js-trigger-minimize" title="<%- i18next.t('Minimize') %>" data-list_id="<%- list.id %>"><span class="pull-right"><strong><i class="icon-resize-small text-primary" style="margin-right: -4px;"></i> </strong></span></a>
				  </div>
				  <% } %>
				  <div class="dropdown">
				  <a href="javascript:void(0);" class="dropdown-toggle pull-right js-show-list-actions" id="js-show-list-actions-<%- list.attributes.id %>" title="<%- i18next.t('List Actions') %>" data-list-id="<%- list.attributes.id %>"><i class="icon-cog text-primary"></i></a>
				  </div>
				  <div class="dropdown right-mar">
				  <a href="#" class="dropdown-toggle pull-right js-show-sort-form right-mar" id="js-show-sort-form-<%- list.attributes.id %>" data-toggle="dropdown" title="<%- i18next.t('Sort') %>" data-list-id="<%- list.attributes.id %>"><i class="icon-sort text-primary"></i></a>
				  <ul class="dropdown-menu dropdown-menu-left arrow arrow-left dropdown-menu-top js-sort-list-response right-mar">
					   <li class="text-center"><strong><%- i18next.t("Sort") %></strong></li>
					   <li class="divider"></li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Votes') %>" href="#" class="js-sort-by" data-sort-by="card_voter_count"><%- i18next.t("Votes") %></a></li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Attachments') %>" href="#" class="js-sort-by" data-sort-by="attachment_count"><%- i18next.t("Attachments") %></a></li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Comments') %>" href="#" class="js-sort-by" data-sort-by="comment_count"><%- i18next.t("Comments") %></a>
					   </li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Card Name') %>" href="#" class="js-sort-by" data-sort-by="name"><%- i18next.t("Card Name") %></a>
					   </li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Checklist pending count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_pending_count"><%- i18next.t("Checklist pending count") %></a>
					   </li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Checklist completed count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_completed_count"><%- i18next.t("Checklist completed count") %></a>
					   </li>
					   <li class="js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Due date') %>" href="#" class="js-sort-by" data-sort-by="due_date"><%- i18next.t("Due date") %></a>
					   </li>
					   <li class=" js-createdDate js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('Created Date') %>" href="#" class="js-sort-by" data-sort-by="created_date"><%- i18next.t('Created Date') %></a></li>
					   <li class=" js-listMovedDate js-sort-by-<%- list.attributes.id %>"><a title="<%- i18next.t('List Moved Date') %>" href="#" class="js-sort-by" data-sort-by="list_moved_date"><%- i18next.t('List Moved Date') %></a></li>
					   <li class=" js-startDate js-sort-by-<%- list.attributes.id %> hide"><a title="<%- i18next.t('Start Date') %>" href="#" class="js-sort-by" data-sort-by="start_date"><%- i18next.t('Start Date') %></a></li>
				   </ul>
				  </div>
				  <% var is_sub_class = 'hide';
				  if(!_.isEmpty(list.subscriber.attributes) && list.subscriber.attributes.is_subscribed == true){ 
					  is_sub_class = ''; 
				  } %>
				  <a href="javascript:void(0);"><span class="pull-right right-mar"><i class="icon-eye-open js-list-subscribed-<%- list.attributes.id %> <%- is_sub_class %>"></i></span></a>
			  </div>
			  <% } %>
			</div>
		  </div>
		  <div id='colorPicker' style="padding-bottom:8px;" class="js-list_maximize_content-<%- list.id %>"> 
			  <span class="list-card-group-addon panel-body color-popover color-focusout" id="js-list-color-<%- list.attributes.id %>" style="background-color:<%- list.attributes.color %>; " data-color-format="hex"></span>
		  </div>
		  <div class="list-content vertical-scrollbar vertical-scrollbar-box js-board-list-cards js-list_maximize_content-<%- list.id %>" id="js-card-listing-<%- list.attributes.id %>">
		  </div>
		  <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "add_card",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
			  <div class="list-footer clearfix js-list_maximize_content-<%- list.id %>">
				  <div class="pull-left"><a href="#" title="<%- i18next.t('Add a card') %>" class="js-show-add-card-form js-bottom text-muted non-select"><%- i18next.t("Add a card") %></a></div>
				  <div class="js-card-add-form-<%= list.attributes.id %>"></div>			
			  </div>
		  <% } %>
		<div class="list-minimize-view-<%- list.id %> hide">
				<div class="list-header js-list-head <% if(!_.isUndefined(authuser.user)){%>cur-grab<%}%>">
					<div class="clearfix">
						<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
							<div class="text-center clearfix">
									<div><a href="javascript:void(0);" class="js-trigger-maximum" title="<%- i18next.t('Maximize') %>" data-list_id="<%- list.id %>"><span><i class="icon-resize-full text-primary"></i></span></a>
									</div>
							</div>
						<% } %>
						<div class="clearfix vertical-text htruncate-list"><strong><%- list.attributes.name %></strong></div>
					</div>
				</div>
		</div>
</div>
