<div class="clearfix text-center col-xs-12">
	<a href="#" class="js-back-to-list-actions pull-left" data-list-id="<%- list.id%>"><i class="icon-caret-left "></i></a><span class="col-xs-10"><strong><%- i18next.t("Archive This List") %></strong></span><a class="js-close-popup pull-right" href="#"><i class="icon-remove "></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<p><%- i18next.t('This will remove list from the board. To view archived lists and bring them back to the board, click "Settings" > "Archived Items" > "Switch to lists".') %></p>
	<a class="js-archive-list btn  btn-primary" title="<%- i18next.t('Archive') %>" data-list-id="<%- list.id%>"><%- i18next.t("Archive") %></a>
</div>