
	<div class="list-header js-list-head <% if(!_.isUndefined(authuser.user)){%>cur-grab<%}%>">
	  <div class="clearfix">
		<a href="#" class="col-xs-8 <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>js-show-edit-list-form<% }else{ %> js-no-action<%}%>"><span><span class="clearfix row show">
		<% if(!_.isUndefined(TODO_COLOR) && !_.isUndefined(TODO_ICON)) { %>
			<% _.each(todo_lists, function(todo_list) { %>
				<% if(list.attributes.name.trim().toLowerCase() == todo_list.trim().toLowerCase()) { %>
					<span><i class="<%- TODO_ICON %>" style="color:<%- TODO_COLOR %>" ></i></span>
				<% } %>
			<% }); %>
		<% } %>
		<% if(!_.isUndefined(DOING_COLOR) && !_.isUndefined(DOING_ICON)) { %>
			<% _.each(doing_lists, function(doing_list) { %>
				<% if(list.attributes.name.trim().toLowerCase() == doing_list.trim().toLowerCase()) { %>
					<span><i class="<%- DOING_ICON %>" style="color:<%- DOING_COLOR %>"></i></span>
				<% } %>
			<% }); %>
		<% } %>
		<% if(!_.isUndefined(DONE_COLOR) && !_.isUndefined(DONE_ICON)) { %>
			<% _.each(done_lists, function(done_list) { %>
				<% if(list.attributes.name.trim().toLowerCase() == done_list.trim().toLowerCase()) { %>
					<span><i class="<%- DONE_ICON %>" style="color:<%- DONE_COLOR %>"></i></span>
				<% } %>
			<% }); %>
		<% } %>
		<strong><%- list.attributes.name %></strong></span></span><% var is_sub_class = 'hide'; if(!_.isEmpty(list.subscriber.attributes) && list.subscriber.attributes.is_subscribed == true){ is_sub_class = ''; }%><span class="pull-right"><i class="icon-eye-open js-list-subscribed-<%- list.attributes.id %> <%- is_sub_class %>"></i></span></a>
		<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "edit_list",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
		<form role="form" class="form-horizontal js-edit-list hide">
			<div class="form-group">
			  <label class="col-sm-4 control-label hide" for="inputListName"><%- i18next.t("Name") %></label>
			  <div class="col-sm-12">
					<input type="text" maxlength="255" autocomplete="off" id="inputListName" name="name" title="<%- i18next.t('Whitespace alone not allowed') %>" required pattern=".*\S+.*" value="<%- list.attributes.name %>" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="sr-only col-sm-4 control-label hide" for="submit2"><%- i18next.t("Submit") %></label>
				<div class="col-sm-12">
					<input type="submit" name="Save" class="btn btn-primary" value="<%- i18next.t('Save') %>" />
					<i class="icon-remove js-hide-edit-list-form btn btn-link cur" title="<%- i18next.t('Cancel') %>"></i>
				</div>
			</div>
		</form>
		<% } %>
		<%if(!_.isUndefined(authuser.user)) {%>
		<div class="pull-right col-xs-4 clearfix">
			<div class="dropdown">
			<a href="#" class="dropdown-toggle pull-right js-show-list-actions" id="js-show-list-actions-<%- list.attributes.id %>" data-toggle="dropdown" title="<%- i18next.t('List Actions') %>" data-list-id="<%- list.attributes.id %>"><i class="icon-cog text-primary"></i></a>
			</div>
			<div class="dropdown right-mar">
			<a href="#" class="dropdown-toggle pull-right js-show-sort-form right-mar" id="js-show-sort-form-<%- list.attributes.id %>" data-toggle="dropdown" title="<%- i18next.t('Sort') %>" data-list-id="<%- list.attributes.id %>"><i class="icon-sort text-primary"></i></a>
			<ul class="dropdown-menu dropdown-menu-left arrow arrow-left dropdown-menu-top js-sort-list-response right-mar">
				 <li class="text-center"><strong><%- i18next.t("Sort") %></strong></li>
				 <li class="divider"></li>
				 <li><a title="<%- i18next.t('Votes') %>" href="#" class="js-sort-by" data-sort-by="card_voter_count"><%- i18next.t("Votes") %></a></li>
				 <li><a title="<%- i18next.t('Attachments') %>" href="#" class="js-sort-by" data-sort-by="attachment_count"><%- i18next.t("Attachments") %></a></li>
				 <li><a title="<%- i18next.t('Comments') %>" href="#" class="js-sort-by" data-sort-by="comment_count"><%- i18next.t("Comments") %></a>
				 </li>
				 <li><a title="<%- i18next.t('Checklist pending count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_count"><%- i18next.t("Checklist pending count") %></a>
				 </li>
				 <li><a title="<%- i18next.t('Checklist completed count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_completed_count"><%- i18next.t("Checklist completed count") %></a>
				 </li>
				 <li><a title="<%- i18next.t('Due date') %>" href="#" class="js-sort-by" data-sort-by="due_date"><%- i18next.t("Due date") %></a>
				 </li>
			 </ul>
			</div>
		</div>
		<% } %>
	  </div>
	</div>
	<div class="list-content vertical-scrollbar vertical-scrollbar-box js-board-list-cards" id="js-card-listing-<%- list.attributes.id %>">
	</div>
	<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(list.board.acl_links.where({slug: "add_card",board_user_role_id: parseInt(list.board_user_role_id)})))){ %>
		<div class="list-footer clearfix">
			<div class="pull-left"><a href="#" title="<%- i18next.t('Add a card') %>" class="js-show-add-card-form js-bottom text-muted"><%- i18next.t("Add a card") %></a></div>
<div class="js-card-add-form-<%= list.attributes.id %>"></div>			
		</div>
	<% } %>	
  