<section class="row js-card-dock-modal-<%- card.attributes.id %> js-card-container" id="dropzone<%- card.attributes.id %>">
  <div class="pull-right js-attachment-loader"></div>
  <div class="clearfix col-xs-12">
  <h3 class="navbar-btn"> <span class="icon-credit-card text-muted"></span> <a href="" title="<%- card.attributes.name %>" class="<% if(!_.isUndefined(authuser.user) && !_.isEmpty(role_links.where({slug: "edit_card"}))){ %>js-show-card-title-edit-form<% }else{ %> js-no-action<%}%>"><%- card.attributes.name %></a><small> in list</small> <span class="dropdown"><a class="dropdown-toggle <% if(!_.isUndefined(authuser.user)){ %>js-show-move-card-form<%}else{%>js-no-action<%}%>" data-toggle="dropdown" title="<%- list.attributes.name %>" href="#"><%- list.attributes.name %></a>
  <% if(!_.isUndefined(authuser.user)){ %>
	<ul class="dropdown-menu arrow col-xs-12 panel-body">
		<li class="col-xs-12 clearfix text-center"><div> <span class="col-xs-10"><strong>Move Card</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div></li>
		<li class="col-xs-12 divider"></li>
		<li class="col-xs-12">
		<form role="form" class="js-move-card" name="MoveCardForm" id="MoveCardForm">
		  <div class="js-show-move-card-form-response"> </div>
		  <div class="form-group clearfix panel-body">
			<label class="sr-only">Move</label>
			<input type="submit" id="submitListMove" class="btn btn-primary col-xs-12" value="Move" />
		  </div>
		</form>
	  </li>
	</ul>
	<% } %>
	</span>
	<%
		if(!_.isUndefined(authuser) && !_.isUndefined(authuser.user)){
			var cards_subscribers = card.cards_subscribers.where({
				is_subscribed: true,
				user_id: parseInt(authuser.user.id)
			});
		}
		
		var subscribed = '';
		if(!_.isUndefined(cards_subscribers) && !_.isEmpty(cards_subscribers)){
	 %>
	<span class="icon-eye-open"></span>
	<% } %>
  </h3>
  <div class="clearfix navbar-btn row">
	  <div class="splitter-wrap editor ui-resizable" >
		<div class="inner col-xs-12">
			<ul class="list-unstyled navbar-btn row">
			  <li class="list-group-item list-group-item-info clearfix">
				<div class="list-group-item-heading">
				  
				  <% if(!_.isUndefined(authuser.user) && !_.isEmpty(role_links.where({slug: "edit_card"}))){ %>
				  <form role="form" class="form-horizontal hide js-card-edit-form" name="cardTitleEditForm" id="cardTitleEditForm">
					<div class="form-group">
					  <div class="col-sm-11">
						<textarea rows="4" id="inputCardName" name="name" required  class="form-control"><%- card.attributes.name %></textarea>
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-sm-8">
						<input type="submit" value="Save" id="submitCardTitleEditForm" class="btn btn-primary">
						<a class="js-cancel-card-title-edit btn btn-link"><i class="icon-remove"></i></a> </div>
					</div>
				  </form>
				  <% } %>
				</div>
				<ul class="list-group-item-text list-inline clearfix">
				  <li class="">
					<h4 class="text-muted list-group-item-heading">Members</h4>
					<ul class="list-inline clearfix" id="js-card-users-list-<%- card.attributes.id %>">
					<% if(!_.isUndefined(authuser.user)){ %>
					  <li id="js-card-user-add-container">
						<div class="dropdown js-member-dropdown"> <a class="dropdown-toggle js-show-add-member-form btn btn-default" role="button" data-toggle="dropdown" title="Add new Members" href="#"> <i class="icon-plus"></i> </a>
						  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
							<li> <div class="clearfix text-center col-xs-12"><span class="col-xs-10"><strong>Members</strong></span><i class="icon-remove cur"></i></div></li>
							<li class="col-xs-12 divider"></li>
							<li class="col-xs-12">
							  <form method="post" class="text-center" name="addMember">
								<div class="form-group">
								  <label class="sr-only">Search Member</label>
								  <input type="text" autocomplete="off" id="inputOrganizationUserSearch" placeholder="Search members" name="email" required class="js-search-users form-control input-sm">
								</div>
							  </form>
							</li>
							<li class="js-organization-member-search-response col-xs-12 small"> Search for a person in <%- SITE_NAME %> by name or email address. </li>
						  </ul>
						</div>
					  </li>
					  <%}%>
					</ul>
				  </li>
				  <% if(!_.isEmpty(role_links.where({slug: "view_card_labels"}))){ %>
				  <li class="">
					<h4 class="text-muted list-group-item-heading">Labels</h4>
					<ul class="list-inline clearfix js-card-labels-list">
					<% if(!_.isUndefined(authuser.user)){ %>
					  <li>
						<div class="dropdown js-label-dropdown"> <a class="dropdown-toggle js-show-card-label-form btn btn-default" role="button" data-toggle="dropdown" title="Add new Labels" href="#"> <i class="icon-plus"></i></a>
						  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12 js-show-card-label-form-response">
						  </ul>
						</div>
					  </li>
					  <%}%>
					</ul>
				  </li>
				  <% } %>
				  <% if (!_.isEmpty(card.card_voters)) { %>
				  <li class="">
					<h4 class="text-muted list-group-item-heading">Votes</h4>
					<ul class="list-inline clearfix">
					  <li class="dropdown"><a href="#" title="Add Vote" class="btn btn-default js-show-card-voters-list dropdown-toggle" data-toggle="dropdown"><%- card.card_voters.length %> vote</a>
						<ul class="dropdown-menu dropdown-menu-left arrow js-show-card-voters-list-response">
						</ul>
					  </li>
					</ul>
				  </li>
				  <% } %>
				  <% if(!_.isEmpty(card.attributes.due_date) && card.attributes.due_date != 'NULL') { %>
				  <li class="">
					<h4 class="text-muted list-group-item-heading">Due Date</h4>
					<ul class="list-inline clearfix">
					<% 
						var nDate = new Date(card.attributes.due_date).toString(); 
					%>
					  <li class="dropdown"> <a class="btn btn-default dropdown-toggle <% if(!_.isUndefined(authuser.user)){ %>js-edit-card-due-date-form<%}else{%>js-no-action <%}%>" role="button" data-toggle="dropdown" title="Due date" href="#"><%= dateFormat(nDate, 'mmm dd yyyy h:MM TT')  %></a>
					  <% if(!_.isUndefined(authuser.user)){ %>
						<ul class="dropdown-menu arrow col-xs-12 panel-body">
						  <li>
							<h4 class="text-center">Due date</h4>
						  </li>
						  <li class="divider"></li>
						  <li class="js-edit-card-due-date-form-response">
							<form class="form-horizontal clearfix js-card-edit-form" name="cardDueDateEditForm" id="cardDueDateEditForm">
							  <div class="form-group">
								<div class="col-xs-6">
								  <label>Date</label>
								  <input type="text" class="form-control input-sm js-card-duedate-edit-<%=card.attributes.id%>" name="due_date" data-format="yyyy-MM-dd" required />
								</div>
								<div class="col-xs-6">
								  <label>Time</label>
								  <input type="text" class="form-control input-sm js-card-duetime-edit-<%=card.attributes.id%>" name="due_time" data-format="hh:mm:ss" required />
								</div>
							  </div>
							  <div class="form-group">
								<div class="col-xs-6">
								  <label for="save" class="sr-only">Save</label>
								  <input type="submit" value="Save" id="save" class="btn btn-primary" id="submitCardDueDateEditForm">
								</div>
								<% if(card.attributes.due_date != null && card.attributes.due_date != '') { %>
								<div class="col-xs-6">
								  <label for="remove" class="sr-only">Remove</label>
								  <input type="reset" value="Remove" id="js-remove-due-date" class="btn btn-default">
								</div>
								<% } %>
							  </div>
							</form>
						  </li>
						</ul>
					  </li>
					</ul>
					 <% } %>
				  </li>
				  <% } %>
				</ul>
				<div class="list-group-item-text clearfix">
				  <h4 class="text-muted">Description <a href="#" class="<%if(!_.isUndefined(authuser.user)) {%>js-show-card-desc-edit-form<%}else{%>js-no-action<%}%>" title="Edit">
				  <%if(!_.isUndefined(authuser.user)) {%>
					<i class="icon-pencil"></i>
				   <% } %>
				  </a></h4>
				  <% if(!_.isEmpty(card.attributes.description)){ %>
				  <p class="js-show-card-desc"><%= converter.makeHtml(_.escape(card.attributes.description)) %></p>
				  <% } %>
				   <%if(!_.isUndefined(authuser.user)) {%>
				  <form class="hide js-card-edit-form" name="cardDescriptionEditForm" id="cardDescriptionEditForm">
					<div class="form-group required">
					  <textarea rows="4" id="inputCarddescription" name="description" class="form-control"><%- card.attributes.description %></textarea>
					</div>
					<div class="submit panel-body">
					  <input type="submit" value="Save" id="submitCardDescriptionEditForm" class="btn btn-primary">
					  <a class="js-cancel-card-description-edit"><i class="icon-remove btn btn-link"></i></a> </div>
				  </form>
				  <% }%>
				</div>
				<div id="js-card-checklists"></div>
				<% if(!_.isEmpty(card.attachments)){ %>
				<div class="list-group-item-heading clearfix">
				  <h3 class="pull-left"> <span class="pull-left"><i class="icon-paper-clip lead"></i></span> Attachment </h3>
				</div>
				<div class="list-group-item-text clearfix">
				  <ul class="list-unstyled clearfix attachment-list" id="js-card-attachments-list"></ul>
				  <% if(!_.isEmpty(role_links.where({slug: "add_card_attachment"}))){ %>
				  <div class="clearfix dropdown"> 
				  <% if(!_.isUndefined(authuser.user)){%>
				  <a class="dropdown-toggle btn-link h4 js-load-dropbox" role="button" data-toggle="dropdown" title="Add an attachment" href="#"> <span class="text-muted panel-title" >Add an attachment</span> </a>
				  <% } %>
					<ul class="dropdown-menu arrow col-xs-3">
						<li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Attach From... </strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
						<li class="col-xs-12 divider"></li>
						<li class="col-xs-12"><a href="#" title="Computer" class="js-attachment-computer-open row">Computer</a></li>
						<li class="col-xs-12"><a href="#" title="Dropbox" class="js-attachment-dropbox-open row">Dropbox</a></li>
						<li class="col-xs-12 divider"></li>
						<li class="col-xs-12">
						  <span class="col-xs-10 sr-only">Attach a Link</span>
						  <form class="js-card-attachment-link-form col-xs-12" method="post" role="form">
							<div class="form-group row">
							  <input type="url" class="form-control input-sm"  name="image_link" placeHolder="Paste any link here">
							</div>
							<div class="form-group row">
							  <input type="submit" value="Submit" id="submit2" class="btn btn-primary btn-sm">
							</div>
							<span class="help-block row small">Tip: You can drag and drop files and links onto cards to upload them.</span>
						  </form>
					  </li>
					</ul>
				  </div>
				  <% } %>
				</div>
				<% } %>
				
			  </li>
			</ul>
		</div>
	  </div>
	  <div class="splitter-wrap ui-resizable">
	  <div class="inner col-xs-12">
		<ul class="list-unstyled navbar-btn row">
		  <li class="list-group-item list-group-item-info clearfix">
			<div class="list-group-item-heading">
				  <h3 class="list-group-item-heading">Activity</h3>
				</div>
			<div class="list-group-item-text">
			  <ul class="media-list" id="js-board-activities">
				<% if(!_.isUndefined(authuser.user) && !_.isEmpty(role_links.where({slug: "comment_card"}))){ %>
				<li class="media comment-block"> 
				  <form method="post" class="form-horizontal js-add-comment">
				  <ul class="media-list">
						<li class="media">
						<a data-placement="bottom" title="<%- authuser.user.username %>" data-toggle="tooltip" class="pull-left" href="#/user/<%- authuser.id %>">
				  <% if(!_.isEmpty(authuser.user.profile_picture_path)) { 
					var profile_picture_path = card.showImage('User', authuser.user.id, 'small_thumb' );
				  %>
				  <img src="<%=profile_picture_path %>" alt="[Image: <%-authuser.user.username %>]" title="<%-authuser.user.username %>" class="img-rounded img-responsive avatar">
				  <% } else {%>
				  <i class="avatar avatar-color-194 img-rounded" title="<%-authuser.user.username %>"><%- authuser.user.initials %></i>
				  <% } %>
				  </a>
					<div class="media-body">
					  <div class="media-heading clearfix">
						<div class="form-group list-group-item-text">
							<div class="col-xs-12 list-group-item-text navbar-right">
								<label class="sr-only">Comment</label>
								<textarea class="form-control input-sm js-comment" rows="4" name="comment" placeHolder="Write a comment" required ></textarea>	
							</div>
						</div>
					  </div>
					</div>
					</li>
					<li class="js-new-comment hide clearfix btn-block navbar-btn">
					<div class="col-xs-11 radio pull-right btn-block">
						<ul class="list-unstyled clearfix col-xs-12">
						<li class="pull-left radio-inline">
						  <div class="clearfix dropdown"> <a class="show dropdown-toggle btn-link btn-xs btn-block" role="button" data-toggle="dropdown" title="Add Card" href="#"> <span class="text-muted show" >Add Card</span> </a>
							<ul class="dropdown-menu arrow col-xs-3 list-group">
							  <li class="col-xs-12 clearfix text-center">
								<div><span class="col-xs-10"><strong>Add Card</strong></span>
								<a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div>
							  </li>
							  <li class="col-xs-12 divider"></li>
							  <li class="col-xs-12 js_activity_card_search_response">
								  <div class="clearfix">
									<label class="sr-only">Search Card</label>                            
									  <input type="text" placeholder="Search Card" name="card" class="js-search-card form-control input-sm  js-no-action">
								  </div>
							  </li>
							</ul>
						  </div>
						</li>
						<li class="dropdown pull-left radio-inline radio">
						  <div class="clearfix dropdown"> <a class="show dropdown-toggle btn-link btn-xs btn-block" role="button" data-toggle="dropdown" title="Mention a member" href="#"> <span class="text-muted show" >Mention a member</span> </a>
							<ul class="dropdown-menu arrow col-xs-3">
							  <li class="col-xs-12 clearfix text-center"><div><span class="col-xs-10"><strong>Mention a Members</strong></span> <a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div></li>
							  <li class="col-xs-12 divider"></li>
							  <li class="col-xs-12 js-comment-member-search-response">
								  <div class="clearfix">
									<label class="sr-only">Search Member</label>
									<input type="text" autocomplete="off" placeholder="Search members" name="member" class="js-search-member form-control input-sm js-no-action">
								  </div>
							  </li>
							</ul>
						  </div>
						</li>
					  </ul>
					<div class="pull-left col-xs-12">
					  <label class="sr-only" for="submit2">submit</label>
					  <div class="radio-inline">
						  <input type="submit" id="submitCommentAdd" class="btn btn-primary" value="Comment"/>
					  </div>
					</div>
				  </div>
				  </li>
				  </ul>
				 </form>
				  
				</li>
				<% } %>
				<li> </li>
				<li class="col-xs-12 divider"><hr></li>
			  </ul>
			  <div class="text-center clearfix hide" id="js-loader-img"><img src="img/select2-spinner.gif" alt="[Images:Loader]" title="Loading ..." /></div>
			  <ul class="media-list col-xs-12 clearfix btn-block" id="js-card-activities-<%= card.attributes.id%>">
			  </ul>
			</div>
			</li>
		  </ul>
		</div>
	  </div>
  </div>
  <div class="drag-drop">Drop Files Here</div>
    
  </div>
  <!-- Side Menu block start -->
  <%if(!_.isUndefined(authuser.user)) {%>
  <div class="dropdown dockheader-dropdown docmodal-submenu">
  <a aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" class="dropdown-toggle label"> <i class="icon-cog h3"></i></a>
  <ul role="menu" class="dropdown-menu arrow">
	  <li class="dropdown-submenu dropdown"> 
		<a href="#" title="Add" class="dropdown-toggle js-open-popover" data-toggle="dropdown" >Add</a>
		<ul class="dropdown-menu">
		<li class="dropdown"> <a class="dropdown-toggle js-show-card-due-date-form" role="button" data-toggle="dropdown" title="Due date" href="#">Due date</a>
		  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
			<li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Due date</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
			<li class="col-xs-12 divider"></li>
			<li class="js-show-card-due-date-form-response col-xs-12"> </li>
		  </ul>
		</li>
		<% if(!_.isEmpty(role_links.where({slug: "add_card_user"}))){ %>
			<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle js-show-add-member-form js-card-header-action" title="Members" href="#">Members</a>
				  <ul class="dropdown-menu arrow">
					<li class="col-xs-12 text-center clearfix">
					  <div><span class="col-xs-10"><strong>Members</strong></span> <a href="#" class="js-close-popover pull-right"><i class="icon-remove"></i></a></div>
					</li>
					<li class="col-xs-12 divider"></li>
					<li class="col-xs-12">
					  <form method="post" class="text-center" name="addMember">
						<div class="form-group">
						  <label class="sr-only">Search Member</label>
						  <input type="text" autocomplete="off" id="inputOrganizationUserSearch" placeholder="Search members" name="email" required class="js-search-users form-control input-sm">
						</div>
					  </form>
					</li>
					<li class="clearfix js-organization-member-search-response col-xs-12 small"> Search for a person in <%- SITE_NAME %> by name or email address. </li>
				  </ul>
			</li>
		<% } %>
		<% if(!_.isEmpty(role_links.where({slug: "add_labels"}))){ %>
			<li class="dropdown"> <a class="dropdown-toggle js-show-card-label-form js-card-header-action" role="button" data-toggle="dropdown" title="Labels" href="#">Labels</a>
				<ul class="dropdown-menu dropdown-menu-left arrow col-xs-12 js-show-card-label-form-response">
				</ul>
			</li>
		<% } %>
		<% if(!_.isEmpty(role_links.where({slug: "add_checklists"}))){ %>
		    <li class="dropdown"> <a class="dropdown-toggle js-show-checklist-add-form" role="button" data-toggle="dropdown" title="Checklist" href="#">Checklist</a>
		      <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
				<li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Add Checklist</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
		        <li class="col-xs-12 divider"></li>
				<li class="col-xs-12 js-checklist-add-form-response"> </li>
		      </ul>
		    </li>
	    <% } %>
		<% if(!_.isEmpty(role_links.where({slug: "edit_card"}))){ %>
			<li class="dropdown"> <a class="js-show-side-card-title-edit-form" role="button" data-toggle="dropdown" title="Checklist" href="#">Info</a>
			  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
				<li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Edit Card Info</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
				<li class="col-xs-12 divider"></li>
				<li class="col-xs-12 js-show-side-card-title-edit-form-response">
				  <form class="js-card-edit-form" method="POST">
					<div class="form-group">
					  <label for="cardTitle<%- card.id%>">Title</label>
					  <input type="text" class="form-control" id="cardTitle<%- card.id%>" name="name" data-format="hh:mm:ss" value="<%- card.attributes.name %>" />
					</div>
					<div class="form-group">
					  <label for="cardDescription<%- card.id%>">Description</label>
					  <textarea name="description" rows="3" class="form-control" id="cardDescription<%- card.id%>"><%- card.attributes.description %></textarea>
					</div>
					<div class="form-group">
					  <div class="col-xs-6 nav">
						<label for="save" class="sr-only">Save</label>
						<input type="submit" value="Save" id="save" class="btn btn-primary" id="submitCardInfoEditForm">
					  </div>
					</div>
				  </form>
				</li>
			  </ul>
			</li>
			<% } %>
			<% if(!_.isEmpty(role_links.where({slug: "add_card_attachment"}))){ %>
			<li class="dropdown"> <a class="dropdown-toggle js-load-dropbox js-card-header-action" role="button" data-toggle="dropdown" title="Attachment" href="#">Attachment</a>
			  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
			   <li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Attach From... </strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
				<li class="col-xs-12 divider"></li>
				<li class="col-xs-12"><a href="#" title="Computer" class="js-attachment-computer-open row">Computer</a></li>
				<li class="col-xs-12"><a href="#" title="Dropbox" class="js-attachment-dropbox-open row">Dropbox</a></li>
				<li class="col-xs-12 divider"></li>
				<li class="col-xs-12">
				  <span class="col-xs-10 sr-only">Attach a Link</span>
				  <form class="js-card-attachment-link-form col-xs-12" method="post" role="form">
					<div class="form-group row">
					  <input type="url" class="form-control input-sm"  name="image_link" placeHolder="Paste any link here">
					</div>
					<div class="form-group row">
					  <input type="submit" value="Submit" id="submit2" class="btn btn-primary btn-sm">
					</div>
					<span class="help-block row small">Tip: You can drag and drop files and links onto cards to upload them.</span>
				  </form>
				</li>
			  </ul>
			</li>
			<% } %>
		</ul>
	  </li>
	  <li class="dropdown-submenu dropdown"> <a href="#" title="Actions" class="dropdown-toggle js-open-popover" data-toggle="dropdown">Actions</a>
		  <ul class="dropdown-menu">
			<li class="dropdown"> <a class="dropdown-toggle js-show-move-card-form js-card-header-action" role="button" data-toggle="dropdown" title="Move " href="#">Move</a>
			  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
				<li class="col-xs-12 clearfix text-center"><div> <span class="col-xs-10"><strong>Move Card</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div></li>
				<li class="col-xs-12 divider"></li>
				<li class="col-xs-12">
				  <form role="form" class="js-move-card" name="MoveCardForm" id="MoveCardForm">
					<div class="js-show-move-card-form-response"> </div>
					<div class="form-group clearfix panel-body">
					  <label class="sr-only">Move</label>
					  <input type="submit" id="submitListMove" class="btn btn-primary col-xs-12" value="Move" />
					</div>
				  </form>
				</li>
			  </ul>
			</li>
			<% if(!_.isEmpty(role_links.where({slug: "copy_card"}))  && !is_offline_data){ %>
				<li class="dropdown js-hide-on-offline"> <a class="dropdown-toggle js-show-copy-card-form" role="button" data-toggle="dropdown" title="Copy" href="#">Copy</a>
				  <ul class="dropdown-menu dropdown-menu-left arrow col-xs-12 pre-scrollable vertical-scrollbar">
					<li class="col-xs-12 clearfix text-center"> <div><span class="col-xs-10"><strong>Copy Card</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div> </li>
					<li class="col-xs-12 divider"></li>
					<li class="col-xs-12">
					  <form role="form" method="post" class="js-copy-card">
						<div class="form-group">
						  <label for="card-title">Title</label>
						  <textarea id="card-title" class="form-control" rows="4" name="name"><%- card.attributes.name%></textarea>
						</div>
						<div class="js-show-copy-card-form-response"> </div>
						<div class="form-group clearfix panel-body">
						  <label class="sr-only">Create card</label>
						  <input type="submit" class="btn btn-primary col-xs-12" value="Create card">
						</div>
					  </form>
					</li>
				  </ul>
				</li>
			<% } %>
			<% if(!_.isEmpty(role_links.where({slug: "subscribe_card"}))){ %>
			    <li> <a class="<% if(!_.isEmpty(cards_subscribers)){%> js-card-unsubscribe <% } else {%>js-card-subscribe <% }%>" title=" Subscribe " href="">Subscribe
		       <% if(!_.isEmpty(cards_subscribers)){ %>
			    <i class="icon-ok"></i>
		      <% } %>
		      </a> 
			  </li>
		   <% } %>
		   <% if(!_.isEmpty(role_links.where({slug: "vote_card"})) || !_.isEmpty(role_links.where({slug: "unvote_card"}))){ %>
		    <li>
		      <% if(!_.isUndefined(authuser) && !_.isUndefined(authuser.user)){
					var voted_user = card.card_voters.findWhere({
					 user_id: parseInt(authuser.user.id)
					}); 
				
			%>
		      <% if(_.isEmpty(voted_user)){  %>
		      <% if(!_.isEmpty(role_links.where({slug: "vote_card"}))){ %>
		      <a class="panel-heading show js-add-card-vote" title="Vote" href="#">Vote</a>
			  <% } %>
			  <% } else{ %>
			  <% if(!_.isEmpty(role_links.where({slug: "unvote_card"}))){ %>
			  <a class="panel-heading show js-delete-card-vote"" title="Unvote" href="#" data-id="<%- voted_user.id %>"> <span class="text-muted show panel-title" ><i class="icon-thumbs-up-alt"></i> Unvote </span> </a>
			  <% } %>
			  <% } }%>
			</li>
		 <% } %>
			<li> <a class="panel-heading show <% if(card.attributes.is_archived == false){ %>js-archive-card<% }else{ %> js-card-send-to-board<% } %>" title="<% if(card.attributes.is_archived == false){%>Archive<% }else{ %>Send to board<%}%>" href="">
		      <% if(card.attributes.is_archived == false){ %>
			      Archive
		      <% }else{ %>
				  Send to board
		      <% } %>
				</a> 
			</li>
		    <% if(card.attributes.is_archived == true && !_.isEmpty(role_links.where({slug: "delete_card"}))){ %>
			<li >
			  <ul class="list-unstyled panel-body">
				<li class="dropdown"> <a class="col-xs-12 btn btn-primary whitec dropdown-toggle js-open-dropdown" href="#" data-toggle="dropdown"> <span><i class="icon-archive"></i></span> <span>Delete</span> </a>
				  <ul class="dropdown-menu dropdown-menu-left arrow">
					<li class="js-dropdown-popup dropdown-popup">
					  <div class="clearfix text-center col-xs-12"> <span class="col-xs-10"><strong>Delete Card?</strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a> </div>
					  <div class="col-xs-12 divider"></div>
					  <div class="col-xs-12">
						<p>All actions will be removed from the activity feed and you won\'t be able to reopen the card. There is no undo. You can archive a card to remove it from the board and preserve the activity. </p>
						<a class="js-delete-card btn  btn-primary" title="Delete">Delete</a> </div>
					</li>
				  </ul>
				</li>
			  </ul>
			</li>
			<% } %>
		  </ul>
	  </li>
	  <li class="dropdown js-more-dropdown">
	  <div class="col-xs-12 divider"></div>
	  <a class="show btn btn-link js-more-menu quiet-button" data-toggle="dropdown" title="More options share, print, export, and delete." href="#"> Share and more...</a>
		<ul class="dropdown-menu dropdown-menu-left arrow col-xs-12">
			<li class="col-xs-12 clearfix text-center"><div> <span class="col-xs-10"><strong>More</strong></span> <a class="js-close-popover pull-right" href="#"><i class="icon-remove "></i></a></div></li>
			<li class="col-xs-12 divider"></li>       
			<li class="col-xs-12">
			  <p class="text-muted"> <span class="show"> Card #<%- card.attributes.id %> </span> <span class="show">Link to this card</span> </p>
			  <form role="form">
				<div class="form-group">
				  <input type="text" value="<%= window.location.origin %><%= window.location.pathname %>#/board/<%- card.attributes.board_id %>/card/<%- card.attributes.id %>" class="form-control input-sm js-select-card-url" readonly="readonly">
				</div>
			  </form>
			</li>
		 </ul>
	  </li>
  </ul>
  </div>
  <%}%>
  <!-- Side Menu block end -->
</section>
