<div class="modal fade" id="ModalShortcutView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <a href="#" title="<%- i18next.t("Keyboard Shortcuts") %>" class="">
			  <h2 id="myModalLabel" class="modal-title htruncate"><strong><%- i18next.t("Keyboard Shortcuts") %></strong></h2></a>
			</div>			
			<div class="modal-body clearfix">
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Add / Remove Members") %></span>				
				<span class="pull-right label label-primary right-mar well-sm">M</span>
				</div>				
				<p><%- i18next.t('"m" opens the add / remove members menu. Clicking a member avatar will assign or unassign that person.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Archive Card") %></span>
				<span class="pull-right label label-primary right-mar well-sm">C</span>
				</div>
				<p><%- i18next.t('"c" will archive a card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Assign Self") %></span>
				<span class="pull-right label label-primary right-mar well-sm">space</span>
				</div>
				<p><%- i18next.t('"space" will assign (or unassign) yourself to a card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Clear All Filters") %></span>
				<span class="pull-right label label-primary right-mar well-sm">X</span>
				</div>
				<p><%- i18next.t('Use "x" to clear all active card filters.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Due Date") %></span>
				<span class="pull-right label label-primary right-mar well-sm">D</span>
				</div>
				<p><%- i18next.t('"d" will open the due date picker for a card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Edit Title") %></span>
				<span class="pull-right label label-primary right-mar well-sm">T</span>
				</div>
				<p><%- i18next.t('If viewing a card, "t" will edit the title. If hovering over a card, "t" will open the card and edit the title.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Insert New Card") %></span>
				<span class="pull-right label label-primary right-mar well-sm">N</span>
				</div>
				<p><%- i18next.t('"n" opens a pop-over that allows you to add a card after the currently selected card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Label") %></span>
				<span class="pull-right label label-primary right-mar well-sm">L</span>
				</div>
				<p><%- i18next.t('"l" opens a pop-over of the available labels. Clicking a label will add or remove it from the card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("My Cards Filter") %></span>
				<span class="pull-right label label-primary right-mar well-sm">Q</span>
				</div>
				<p><%- i18next.t('"q" key toggles the "cards assigned to me" filter.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Navigate Cards") %></span>
				<span class="pull-right label label-primary right-mar well-sm">&#8592;</span>
				<span class="pull-right label label-primary right-mar well-sm">&#8595;/J</span>
				<span class="pull-right label label-primary right-mar well-sm">&#8593;/K</span>
				<span class="pull-right label label-primary right-mar well-sm">&#8594;</span>
				</div>
				<p><%- i18next.t('Arrow keys will select adjacent cards on a board. "j" will select the card below the current card. "k" will select the card above the current card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Open Card") %></span>
				<span class="pull-right label label-primary right-mar well-sm">enter</span>
				</div>
				<p><%- i18next.t('"enter" will open the currently selected card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Open Card Filter Menu") %></span>
				<span class="pull-right label label-primary right-mar well-sm">F</span>
				</div>
				<p><%- i18next.t('Use "f" to open the card filter menu.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Open Shortcuts Page") %></span>
				<span class="pull-right label label-primary right-mar well-sm">?</span>
				</div>
				<p><%- i18next.t('"?" will open the shortcuts page.') %></p>				
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Subscribe") %></span>
				<span class="pull-right label label-primary right-mar well-sm">S</span>
				</div>
				<p><%- i18next.t('"s" will subscribe you to, or unsubscribe you from, a card. Subscribing to a card will give you notifications for most actions to that card.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Toggle Board Menu") %></span>
				<span class="pull-right label label-primary right-mar well-sm">W</span>
				</div>
				<p><%- i18next.t('"w" will collapse or expand the board menu, the sidebar on the right.') %></p>
				<hr/>
				<div class="clearfix">
				<span class="h3 pull-left"><%- i18next.t("Vote") %></span>
				<span class="pull-right label label-primary right-mar well-sm">V</span>
				</div>
				<p><%- i18next.t('"v" will add (or remove) your vote on a card.') %></p>
				<hr/>
			</div>
		  </div><!-- /.modal-content -->
    </div>
</div>

