<div class="modal fade" id="modalFlickrPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close js-close-popover" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 id="myModalLabel" class="modal-title"><strong><%- i18next.t('Background Photo') %></strong></h4>
			</div>			
			<div class="modal-body clearfix">	
				<div class="navbar-btn col-xs-4 nav">
					<div class="input-group">
						<input type="text" class="form-control input-sm js-flickr-search" placeholder="<%- i18next.t('Search') %>" title="<%- i18next.t('Search') %>">
						<span class="input-group-btn"><button class="btn btn-primary input-sm btn-sm js-flickr-search-box" type="button"><i class="icon-search cur"></i></button></span>
					</div>
				</div>
				<div class="pull-right h4"><small class="navbar-btn"><%- i18next.t('Powered by') %> <a href="javascript:void(0);" title="Flickr"><strong class="text-primary">Flickr</strong></a></small></div>
				<div class="col-xs-12 h4">
				<ul class="list-inline clearfix col-xs-offset-0" id="js-flickr-background-photos">
				 
				</ul>
				</div>
				<div class="h4 btn-block pull-left text-center js-flickr-loader-and-more"><a href="javascript:void(0);" class="btn-link js-flickr-loadmore"><%- i18next.t('Load More') %></a></div>											
			</div>
		  </div><!-- /.modal-content -->
    </div>
</div>