<div class="well-lg navbar-btn"></div>
<% if (!_.isUndefined(oauth_clients) && oauth_clients.length > 0 ) { 
				_.each(oauth_clients, function(oauth_client) { %>
  <div class="clearfix">
    <div class="col-xs-10">
      <h2><span class="c"><%- oauth_client.client_name %></span></h2>
	  <dl class="dl-horizontal">
		  <dt><%- i18next.t('Client ID:') %></dt>
		  <dd><%- oauth_client.client_id %></dd>
		  <dt><%- i18next.t('Client Secret:') %></dt>
		  <dd><%- oauth_client.client_secret %></dd>
	  </dl>
    </div>
	<div class="col-xs-2 pull-right">
	  <div class="row-fluid">
		<div class="pull-right">
		  <div class="btn-group">
			<button class="btn dropdown-toggle js-no-pjax xltriggered" data-toggle="dropdown"><i class="icon-cog"></i><span class="caret"></span></button>
			<ul class="dropdown-menu arrow arrow-right pull-right">
				<li><a title="<%- i18next.t('Edit') %>" href="#/oauth_clients/edit/<%- oauth_client.id %>"><i class="icon-edit"></i><%- i18next.t('Edit') %></a></li>
				<% if (oauth_client.id == 7742632501382313 || oauth_client.id == 7857596005287233 || oauth_client.id == 6664115227792148) { %>
					<li><a class="js-delete" data-id="<%- oauth_client.id %>" title="<%- i18next.t('Delete') %>" href=""><i class="icon-remove"></i><%- i18next.t('Delete') %></a></li>
				<% } %>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>

<hr/>
<%
				}); 
} else { %>
	<div class="col-xs-12 text-center alert alert-info"><%- i18next.t('No %s available', { postProcess: 'sprintf', sprintf: ['OAuth application']}) %></div>
<% } %>
