<div class="well-sm"><h3><%- i18next.t('Add Client') %></h3></div>
<form id="oauthClientAddForm" name="oauthClientAddForm" class="form-horizontal col-xs-12">
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputClientName"><%- i18next.t("Client Name") %></label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" required name="client_name" id="inputClientName" class="form-control" placeholder="<%- i18next.t('Client Name') %>" title="<%- i18next.t('Client Name') %>">
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputClientUrl"><%- i18next.t("Client URL") %></label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" name="client_url" id="inputClientUrl" class="form-control" placeholder="<%- i18next.t('Client URL') %>" title="<%- i18next.t('Client URL') %>">
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputLogoUrl"><%- i18next.t("Logo URL") %></label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" name="logo_url" id="inputLogoUrl" class="form-control" placeholder="<%- i18next.t('Logo URL') %>" title="<%- i18next.t('Logo URL') %>">
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputTosUrl"><%- i18next.t("Tos URL") %></label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" name="tos_url" id="inputTosUrl" class="form-control" placeholder="<%- i18next.t('Tos URL') %>" title="<%- i18next.t('Tos URL') %>">
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputPolicyUrl"><%- i18next.t("Policy URL") %></label>
	<div class="col-sm-8 col-xs-12">
		<input type="text" name="policy_url" id="inputPolicyUrl" class="form-control" placeholder="<%- i18next.t('Policy URL') %>" title="<%- i18next.t('Policy URL') %>">
	</div>
  </div>
  <div class="form-group">
	<label class="col-sm-2 control-label col-xs-12" for="inputRedirectUris"><%- i18next.t("Redirect URI(s)") %></label>
	<div class="col-sm-8 col-xs-12">
		<textarea id="inputRedirectUris" class="form-control" rows="4" name="redirect_uri"></textarea>
		<div><span class="help-block"><%- i18next.t('Multiple URL can provide separated by space')%></span></div>
	</div>
  </div>
  <div class="form-group">
	<label class="sr-only col-sm-2 control-label col-xs-12" for="submit2"><%- i18next.t('Add') %></label>
	<div class="col-sm-8">
		<input type="submit" class="btn btn-primary" id="submitAddClient" value="<%- i18next.t('Add') %>">
	</div>
  </div>
</form>