<%
	var change_normal = '';
	var change_admin = '';
	if (organization_user.collection.where({
		is_admin: 1
	}).length > 1) {
		change_normal = 'navbar-btn h6 js-edit-organization-member-permission-to-normal';
	} else  {
		change_admin = 'navbar-btn h6 js-edit-organization-member-permission-to-admin';
	}
%>
<li class="col-xs-12 text-center clearfix">
	<div class="clearfix">
		<span class="col-xs-10"><strong><%- i18next.t('Change permissions') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
	</div>
</li>
<li class="divider col-xs-12 btn-block"></li>
<li class="col-xs-12 btn-block">
	<%				
		if(!_.isEmpty(change_admin)){
	%>
	<a class="h6 navbar-btn js-edit-organization-member-permission-to-admin<%  if(parseInt(organization_user.organization_user_role_id) === 1){ %> btn-default <% } %>" data-organizations_user_id="<%- organization_user.organizations_user_id %>" href="#">
		<span class="show text-primary navbar-btn h5"><%- i18next.t('Owner') %> <%  if(parseInt(organization_user.organization_user_role_id) === 1){ %><i class="icon-check well-sm"></i><%}%></span>
		<span class="show"><%- i18next.t('Can view, create and edit org boards, and change settings for the organization.') %></span>
	</a>
	<% } else { %>
		<a class="h6 navbar-btn<%  if(parseInt(organization_user.organization_user_role_id) === 1){ %> btn-default <% } %>">
			<span class="show text-primary navbar-btn h5"><%- i18next.t('Owner') %> <%  if(parseInt(organization_user.organization_user_role_id) === 1){ %><i class="icon-check well-sm"></i><%}%></span>
			<span class="show"><%- i18next.t('Can view, create and edit org boards, and change settings for the organization.') %></span>
		</a>
	<% } %>
</li>
<li class="divider col-xs-12 btn-block"></li>
<li class="col-xs-12 btn-block">
	<%				
		if(!_.isEmpty(change_normal)){
	%>
	<a class="<%= change_normal %><%  if(parseInt(organization_user.organization_user_role_id) === 0){ %> btn-default <% } %>" data-organizations_user_id="<%- organization_user.organizations_user_id %>" href="#">
		<span class="show text-primary navbar-btn h5"><%- i18next.t('Member') %> <%  if(parseInt(organization_user.organization_user_role_id) === 0){ %><i class="icon-check well-sm"></i><%}%></span>
		<span class="show"><%- i18next.t('Can view, create, and edit org boards, but not change settings.') %></span>
	</a>
	<% } else { %>
	<a class="h6 navbar-btn <%  if(parseInt(organization_user.organization_user_role_id) === 0){ %> btn-default <% } %>">
		<span class="show text-primary navbar-btn h5"><%- i18next.t('Member') %><%  if(parseInt(organization_user.organization_user_role_id === 0)){ %><i class="icon-check well-sm"></i><%}%></span>
		<span class="show"><%- i18next.t('Can view, create, and edit org boards, but not change settings.') %></span>
		</a>
	<% } %>
</li>

