<div class="clearfix text-center col-xs-12">
	<a href="#" class="js-show-organizations-board-from pull-left"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong> <%- i18next.t('Create Organization') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a></span></h4>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	<form name="OrganizationAddForm" id="OrganizationAddForm">
		<div class="form-group required">
			<label for="inputOrganizationName"><%- i18next.t('Name') %></label>
			<input class="form-control input-sm" type="text" maxlength="255" id="inputOrganizationName" name="name" required>
		</div>
		<div class="form-group">
			<label for="inputOrganizationDescription"><%- i18next.t('Description') %></label>
			<textarea class="form-control" type="textarea" id="inputOrganizationDescription" name="description"></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="<%- i18next.t('Add') %>" id="js-add-organization" class="btn  btn-primary">
		</div>
		<p><%- i18next.t('An organization is a group of boards and members.') %></p>
		</form>
</div>