<!-- Main block start -->
<section class="clearfix row">
 <div class="col-xs-12 h4">
	<ul class="nav nav-tabs">
		<li <% if(_.isUndefined(type) || type == 'boards'){ %>class="active" <%}%>><a href="#/organization/<%-organization.attributes.id%>/boards" class=""><%- i18next.t('Boards') %></a></li>
		<%		
		if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(organization.acl_links.where({slug: "view_organization_user_listing",organization_user_role_id: parseInt(organization.organization_user_role_id)})) || !_.isEmpty(organization.acl_links.where({slug: "add_organization_user",organization_user_role_id: parseInt(organization.organization_user_role_id)})))) { %>
			<li <% if(!_.isUndefined(type) && type == 'users'){ %>class="active" <%}%>><a href="#/organization/<%-organization.attributes.id%>/users" class=""><%- i18next.t('Members') %></a></li>
		<% } %>
	</ul>
</div>
  <div class="col-xs-12"> <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
	<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane <% if(_.isUndefined(type) || type == 'boards'){ %>active<%}%>" id="board">
				<section class="clearfix">
				  <div class="clearfix" id="js-organization-board-listing"> 
				  </div>
				</section>
			</div>
			<div class="tab-pane js-get-organization-member-lists-response  <% if(!_.isUndefined(type) && type == 'users'){ %>active<%}%>" id="member"></div>
		</div>
  </div>
  <form class="col-lg-2 col-md-3 col-sm-3 col-xs-12 js-org-drag" role="form" enctype="multipart/form-data" id="js-org-drag">
	<div class="well well-sm clearfix text-center">
	<%
		var logo_path = "img/default-organization.png"; 
		var is_logo_added = false;
		if (!_.isUndefined(organization.attributes.logo_url) && organization.attributes.logo_url != null) {
			is_logo_added = true;
			logo_path = organization.showImage('Organization', organization.attributes.id, 'medium_thumb' ) +'?'+ new Date().getTime();
		}
	%>
	  <div <% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(organization.acl_links.where({slug: "upload_organization_logo",organization_user_role_id: parseInt(organization.organization_user_role_id)})))) {%> id="dropzone" <%}%>class="navbar-btn btn-xs"><% if(!_.isUndefined(authuser.user) && is_logo_added){ %><span class="profile-block show"><i class="js-remove-image icon icon-remove close-block cur"></i><span><%}%><img src="<%= logo_path %>" alt="[Image: <%= organization.attributes.name%>]" title="<%= organization.attributes.name%>" class="<% if(!_.isUndefined(authuser.user) && (authuser.user.role_id == 1 || !_.isEmpty(organization.acl_links.where({slug: "upload_organization_logo",organization_user_role_id: parseInt(organization.organization_user_role_id)})))) {%>js-org-image-uploaded <%}%>img-responsive img-thumbnail <% if(!_.isEmpty(role_links.where({slug: 'starred_board'}))){ %>drag-box<% } %>" id="js-organization-logo-<%-organization.attributes.id %>">
		<div id="manager-area">
			
		</div>
		</span>
		</span>
		<div class="drag-drop drag-drop-sm"><%- i18next.t('Drop Files Here') %></div>
	</form>
	<span id="org-loader"></span>
  </div>
  
  </div>
  </div>
  </div>
</section>  