<div class="well-lg navbar-btn"></div>
<% if (plugins.length > 0 ) { 
				_.each(plugins, function(plugin) { %>
  <div class="clearfix">
    <div class="col-xs-10">
      <h4><span class="c"><%- plugin.name %></span></h4>
      <div class="grayc top-space"><%- plugin.description %></div>
      <div class="grayc top-space"><%- i18next.t('Version') %> <%- plugin.version %> | <%- i18next.t('By') %> <a href="<%- plugin.authorUrl %>" target="_blank"><%- plugin.author %></a></div>
    </div>
	<div class="col-xs-2 pull-right">
	  <div class="row-fluid">
		<div class="pull-right">
		  <div class="btn-group">
			<button class="btn "><% if(plugin.enabled == true){ %><%- i18next.t('Enabled') %><% } else {%><%- i18next.t('Disabled') %><% } %></button>
			<button class="btn dropdown-toggle js-no-pjax xltriggered" data-toggle="dropdown"><i class="icon-cog"></i><span class="caret"></span></button>
			<ul class="dropdown-menu arrow arrow-right pull-right">
			  <li><a class="cur js-update-plugin" data-current-status="<%- plugin.enabled %>" data-folder="<%- plugin.folder %>" title="<% if(plugin.enabled == true){ %><%- i18next.t('Disabled') %><% } else {%><%- i18next.t('Enabled') %><% } %>"><i class="<% if(plugin.enabled == true){ %>icon-minus-sign<% } else {%>icon-plus-sign<% } %>"></i><% if(plugin.enabled == true){ %><%- i18next.t('Disabled') %><% } else {%><%- i18next.t('Enabled') %><% } %></a></li>
			  <% if(plugin.settings){%>
				  <li><a title="<%- i18next.t('Settings') %>" href="#/plugins/<%- plugin.folder %>"><i class="icon-cog"></i><%- i18next.t('Settings') %></a></li>
			  <% } %>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>

<hr/>
<%
				}); 
} %>
