<div class="row mt5">
    <div class="col-md-offset-3 col-md-6 text-center pt50">
        <h3 class="lineheight"><%- i18next.t("You're using open source Community Edition. Please consider upgrading to the Enterprise Edition and support this open source project") %></h3>
        <h3 class="lineheight"><%- i18next.t('You deserve awesome enterprise support') %>:-)</h3>
    </div>
    <div class="col-md-12 text-center mt5 pt20">
        <a href="http://restya.com/enterprise?category=board&utm_source=Restyaboard - <%- SITE_NAME %>&utm_medium=web&utm_campaign=upgradepopup&category=contact" target="_blank" title="<%- i18next.t('Upgrade to Enterprise Edition') %>" class="btn btn-primary navbar-btn mt5 right-mar"><%- i18next.t('Upgrade') %></a>
        <a href="http://restya.com/donate/?utm_source=Restyaboard - <%- SITE_NAME %>&utm_medium=web&utm_campaign=upgradepopup&category=contact" target="_blank" title="<%- i18next.t('Donate') %>" class="btn btn-default navbar-btn mt5"><%- i18next.t('Donate') %></a>
    </div>
    <div class="col-md-12 text-center mt5 pt20">
        <a href="javascript:void(0);" target="_blank" title="<%- i18next.t('Continue Community Edition') %>" class="js-close-popover"><%- i18next.t('Continue Community Edition') %></a>
    </div>
</div>