<div class="well-sm"></div>
<section>
  <div class="well-sm"></div>
  <form role="form" class="col-xs-12">
    <div class="table-responsive js-boardList-view">
      <table class="table table-striped table-bordered table-hover list-group-item-text">
        <thead>
          <tr class="active">
            <th rowspan="2" class="col-xs-2 text-center">
              <%- i18next.t("User") %>
            </th>
            <th rowspan="2" class="text-center">
              <span class="js-sort cur" data-field="token" data-direction="desc" title="<%- i18next.t("Token") %>">
                <span class="icon-caret-down hide"></span>
                <%- i18next.t("Token") %>
              </span>
            </th>
            <th rowspan="2" class="text-center">
              <span class="js-sort cur" data-field="created" data-direction="desc" title="<%- i18next.t('Created') %>">
                <span class="icon-caret-down hide"></span>
                <%- i18next.t("Created") %>
              </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_serial" data-direction="desc" title="<%- i18next.t('Device Serial') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Serial") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_modal" data-direction="desc" title="<%- i18next.t('Device Modal') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Modal") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_brand" data-direction="desc" title="<%- i18next.t('Device Brand') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Brand") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_manufacturer" data-direction="desc" title="<%- i18next.t('Device Manufacturer') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Manufacturer") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_version" data-direction="desc" title="<%- i18next.t('Device Version') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Version") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="app_version" data-direction="desc" title="<%- i18next.t('App version') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("App version") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="device_type" data-direction="desc" title="<%- i18next.t('Device Type') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("Device Type") %>
                </span>
            </th>
            <th rowspan="2" class="text-center">
                <span class="js-sort cur" data-field="app_name" data-direction="desc" title="<%- i18next.t('App Name') %>">
                  <span class="icon-caret-down hide"></span>
                  <%- i18next.t("App Name") %>
                </span>
            </th>
          </tr>
        </thead>
        <tbody class="js-pushNotification-list">
        </tbody>
      </table>
    </div>
  </form>
  <div class="clearfix navbar-btn col-xs-12">
    <div class="pull-right pagination pagination-right pagination-boxes list-group-item-heading"></div>
  </div>
</section>