<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
  <div class="panel-heading lead"><%- i18next.t("Add Role") %></div>
  <div class="panel-body well-lg">
	<form id="RoleAddForm" name="RoleAddForm" class="form-horizontal col-xs-12">
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputName"><%- i18next.t("Name") %></label>
		<input type="name" name="name" id="inputName" class="form-control" placeholder="<%- i18next.t('Name') %>" required>
	  </div>
	  <div class="form-group">
		<label class="sr-only control-label" for="submitAddRole"><%- i18next.t("Add") %></label>
		<input type="submit" class="btn btn-primary col-xs-12" id="submitAddRole" value="<%- i18next.t('Add') %>">
	  </div>
	</form>
  </div>
</div>
</div>