<div class="col-xs-12 js-container-div-role">
	<form id="js-save-role-settings">
		<div class="table-responsive navbar-btn">
			<div class="well-sm">
				<div class="alert alert-info list-group-item-text">Currently, board owner, board member, organization owner and organization member roles are static with below permissions:</div>
			</div>
			<div class="col-xs-12">
			<div class="col-xs-6">
			<h3>Organization</h3>
			<table class="table">
				<thead>
					<th class="col-xs-1"></th>
					<th class="col-xs-1 text-center">Owner</th>
					<th class="col-xs-1 text-center">Member</th>
				</thead>
				<tbody class="acl-link-list">
					<tr>
						<td>Add Member</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Remove Member</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Change Permission</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="col-xs-6">
			<h3>Board</h3>
			<table class="table">
				<thead>
					<th class="col-xs-1"></th>
					<th class="col-xs-1 text-center">Owner</th>
					<th class="col-xs-1 text-center">Member</th>
				</thead>
				<tbody class="acl-link-list">
					<tr>
						<td>Archived list send back to board</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Change background to board</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Copy board</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Set cover image to card</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
					<tr>
						<td>Close board</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" checked="checked"/>
								<label></label>
							</div>
						</td>
						<td class="text-center">
							<div class="checkbox">
								<input type="checkbox" class="cur" />
								<label></label>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			</div>
			<div class="well-sm">
				<div class="alert alert-info list-group-item-text">Below permissions can be changed:</div>
			</div>
			<table class="table js-acl-link-list acl-link-list">
				<thead>
					<th colspan="2" class="col-xs-15">Name</th>
					<% 
					  roles.each(function(role) {
						if(role.attributes.name === 'user') {
					%>
						<th class="col-xs-1 text-center"><%- role.attributes.name %> (Owner, Member)</th>
					<%
						} else {
					%>
						<th class="col-xs-1 text-center"><%- role.attributes.name %></th>
					<%}});%>
					
				</thead>
				<tbody class="js-acl-link-list-body acl-link-list">
					<%
						var acl_link_groups = ["Users","Boards","Lists","Cards","Organizations","Master"];
						var group = '';
						var old_group = '';
						var group_id = '';
						acl_links.each(function(acl_link) {
							acl_link.acl_links_roles.add(acl_link.attributes.acl_links_roles);
							group_id = acl_link.attributes.group_id - 1;
							group = acl_link_groups[group_id];
							if( group != old_group){
					%>
						<tr>
							<td colspan="5" class="text-primary"><h3><%- group %></h3></td>
						</tr>
						<% } %>
						<tr>
							<td class="col-xs-1"> <div class="invisible"></div></td>
							<td>
								<%- acl_link.attributes.name%>
							</td>
								<% 
								  roles.each(function(role) {
									var is_enabled = acl_link.acl_links_roles.findWhere({
										role_id: parseInt(role.attributes.id)
									});
									if(role.attributes.id === "1") {
									%>
										<td class="text-center">
											<div class="checkbox">
											<input type="checkbox" class="cur" name="acl_link_id[<%- role.attributes.id %>][<%- acl_link.attributes.id %>]" value="<%- acl_link.attributes.id%>" <% if(!_.isEmpty(is_enabled)) { %> checked="checked" <% } %> id="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"/>
											<label class="js-update-role" data-acl_link_id="<%- acl_link.attributes.id %>"  data-role_id="<%- role.attributes.id %>" for="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"></label>
											</div>
										</td>
									<%
									} else if(role.attributes.id === "2") {
										if(acl_link.attributes.is_allow_only_to_admin === 1) {
																					%>
												<td class="text-center">
													<label class="js-update-role" data-acl_link_id="<%- acl_link.attributes.id %>"  data-role_id="<%- role.attributes.id %>" for="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>">-</label>
												</td>
											<%									
										} else {
											%>
												<td class="text-center">
													<div class="checkbox">
													<input type="checkbox" class="cur" name="acl_link_id[<%- role.attributes.id %>][<%- acl_link.attributes.id %>]" value="<%- acl_link.attributes.id%>" <% if(!_.isEmpty(is_enabled)) { %> checked="checked" <% } %> id="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"/>
													<label class="js-update-role" data-acl_link_id="<%- acl_link.attributes.id %>"  data-role_id="<%- role.attributes.id %>" for="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"></label>
													</div>
												</td>
											<%									
										}
									} else if(role.attributes.id === "3") {
										if(acl_link.attributes.is_allow_only_to_admin === 1 || acl_link.attributes.is_allow_only_to_user === 1 ) {
											%>
												<td class="text-center">
													<label class="js-update-role" data-acl_link_id="<%- acl_link.attributes.id %>"  data-role_id="<%- role.attributes.id %>" for="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>">-</label>
												</td>
											<%									
										} else {
											%>
												<td class="text-center">
													<div class="checkbox">
													<input type="checkbox" class="cur" name="acl_link_id[<%- role.attributes.id %>][<%- acl_link.attributes.id %>]" value="<%- acl_link.attributes.id%>" <% if(!_.isEmpty(is_enabled)) { %> checked="checked" <% } %> id="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"/>
													<label class="js-update-role" data-acl_link_id="<%- acl_link.attributes.id %>"  data-role_id="<%- role.attributes.id %>" for="acl_link_id_<%- role.attributes.id %>_<%- acl_link.attributes.id %>"></label>
													</div>
												</td>
											<%									
										}
									}
								});%>
						</tr>
					<% old_group = group;}); %>

				</tbody>
			</table>
		</div>
	</form>
</div>