<div class="col-xs-12 text-center clearfix">
	<span class="col-xs-10"><strong><%- i18next.t('Change permissions') %></strong></span><a class="js-close-popover pull-right" href="#"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12 member-modal js-pre-scrollable vertical-scrollbar">
	<ul class="list-unstyled list-inline">
		<li class="plull-left">
			<a class="js-edit-board-member-permission-to-admin" data-board_user_id="<%- board_user_id %>" href="#">
				<span class="show"><%- i18next.t('Admin') %></span><span><%- i18next.t('Can view, create and edit boards, and change settings for the board.') %></span>
			</a>
		</li>
		<li class="plull-left">
			<a class="js-edit-board-member-permission-to-normal" data-board_user_id="<%- board_user_id %>" href="#">
				<span class="show"><%- i18next.t('Normal') %></span><span><%- i18next.t('Can view, create, and view members, but not change settings.') %></span>
			</a>
		</li>
	</ul>
</div>