<div class="clearfix text-center col-xs-12">	
	<a href="#" class="js-back-to-list-actions pull-left"><i class="icon-caret-left"></i></a><span class="col-xs-10"><strong><%- i18next.t('Sort List') %></strong></span><a href="#" class="js-close-popup pull-right"><i class="icon-remove"></i></a>
</div>
<div class="col-xs-12 divider"></div>
<div class="col-xs-12">
	 <div><a title="<%- i18next.t('Voters') %>" href="#" class="js-sort-by" data-sort-by="card_voter_count"><%- i18next.t("Voters") %></a></div>
	 <div><a title="<%- i18next.t('Attachment') %>" href="#" class="js-sort-by" data-sort-by="attachment_count"><%- i18next.t("Attachment") %></a></div>
	 <div><a title="<%- i18next.t('Comment') %>" href="#" class="js-sort-by" data-sort-by="comment_count"><%- i18next.t("Comment") %></a>
	 </div>
	 <div><a title="<%- i18next.t('Checklist pending count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_count"><%- i18next.t("Checklist pending count") %></a>
	 </div>
	 <div><a title="<%- i18next.t('Checklist completed count') %>" href="#" class="js-sort-by" data-sort-by="checklist_item_completed_count"><%- i18next.t("Checklist completed count") %></a>
	 </div>
</div>