<thead>
	<tr>
		<th>
			<ul class="list-inline navbar-btn clearfix">	
				<li class="col-md-1 col-xs-2"><a class="js-sort-by show" title="<%- i18next.t('ID') %>" href="#" data-sort-by="id"><span class="icon-caret-down"></span><%- i18next.t("ID") %></a></li>
				<li class="col-md-4 col-xs-3"><a class="js-sort-by show" title="<%- i18next.t('Card Name') %>" href="#" data-sort-by="name"><span class="icon-caret-down hide"></span><%- i18next.t("Card Name") %></a></li>
				<li class="col-md-4 col-xs-3"><a class="js-sort-by show" title="<%- i18next.t('List Name') %>" href="#" data-sort-by="list_name"><span class="icon-caret-down hide"></span><%- i18next.t("List Name") %></a></li>
				<li class="list-head-icon">
					<ul class="list-inline row">
						<li><a class="js-sort-by show" href="#" title="<%- i18next.t('Votes') %>"  data-sort-by="card_voter_count"><i class="icon-thumbs-up h3"></i></a></li> 
						<li><a class="js-sort-by show" href="#" title="<%- i18next.t('Attachments') %>"  data-sort-by="attachment_count"><i class="icon-paper-clip h3"></i></a></li>
						<li><a class="js-sort-by show" href="#" title="<%- i18next.t('Comments') %>"  data-sort-by="comment_count"><i class="icon-comment h3"></i></a></li>
						<li><a class="js-sort-by show" href="#" title="<%- i18next.t('Checklist count') %>"  data-sort-by="checklist_item_completed_count"><i class="icon-ok-sign h3"></i></a></li>
						<li><a class="js-sort-by show" href="#" title="<%- i18next.t('Due date') %>"  data-sort-by="due_date"><i class="icon-calendar h3"></i></a></li>
					</ul>  
				</li>
            </ul>
		</th>
	<tr>
</thead>
<tbody class="js-card-list-view-<%- board.id%>"></tbody>

