<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
<div class="panel panel-default">
  <div class="panel-heading lead list-group-item-text"><%- i18next.t("Forgot your password") %>?</div>
  <div class="panel-body well-lg">
	<div class="alert alert-info"><%- i18next.t("Enter your email and we will send new password.") %></div>
	<form id="UserForgotPasswordForm" name="UserForgotPasswordForm" class="form-horizontal col-xs-12">
	  <div class="form-group required">
		<label class="sr-only control-label" for="inputEmail"><%- i18next.t("Email") %></label>
		<input type="email" name="email" id="inputEmail" class="form-control" placeholder="<%- i18next.t('Email') %>" title="<%- i18next.t('Email') %>" required>
	  </div>
	  <div class="form-group">
		<label class="sr-only control-label" for="submit2"><%- i18next.t("Send") %> </label>
		<input type="submit" class="btn btn-primary col-xs-12" id="submitForgotPassword" value="<%- i18next.t('Send') %>">
	  </div>
	</form>
  </div>
</div>
</div>