<div id="js-navbar-default" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
	<div class="navbar-left navbar-btn">
	  <div class="clearfix navbar-btn">
		<h2 class="pull-left navbar-btn"><span class="pull-left"><a href="#/boards" title="<%- SITE_NAME %>"><img src="img/logo.png" alt="[Image: <%- SITE_NAME %>]" title="<%- SITE_NAME %>" class="img-responsive center-block"/></a></span></h2>
		<ul class="list-inline pull-left h3 navbar-btn navbar-form">
			 <li class="navbar-btn text-muted"><span class="h5">/</span></li>
			<li><span class="text-muted h4"><%- user.attributes.full_name %> (<%- user.attributes.username %>)</span></li>
		</ul>
	  </div>
	</div>
	</div>
	<div class="container-fluid">
		<section id="broadcast_information" class="hide hidden-xs">
		</section>
		<section id="broadcast_hide_arrow" class="hide hidden-xs">
			<a href="#" class="broadcast-content-show js-broadcast-show pull-right" title="show">
				<i class="icon-angle-up"></i>
			</a>
		</section>
	</div>
</div>