<% 
	var d = new Date();
	var weekday = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
	var today = weekday[d.getDay()]; 
	today_count = parseInt(data.dashboard.today.DOING) + parseInt(data.dashboard.today.TODO) + parseInt(data.dashboard.today.DONE);
%>
<section class="clearfix">
	 <div class="col-sm-3 text-center dashboard-organization">
		<div class="navbar-btn">
			<% if(!_.isUndefined(data.user_profile_picture)) { %>
				<img title="<%- data.user.full_name %> (<%- data.user.username %>)" alt="<%- data.user.username %>" src="<%- data.user_profile_picture %>" width="147" height="145" class="thumbnail center-block">
			<% } %>
		</div>
		<div class="clearfix dropdown navbar-btn">
			<a href="#" title="Organizations" class="btn btn-primary navbar-btn" data-toggle="dropdown"><%- data.organizations.length %> Organizations <i class="caret"></i> </a>
			 <ul class="dropdown-menu arrow dropdown-menu-right text-left">
				 <% _.each(data.organizations, function(item, key) { %> 
					<li><a href="#/organization/<%- item.attributes.id %>" title="<%- item.attributes.name %>"> <%- item.attributes.name %> </a></li>
				<% }); %> 
			 </ul>
		</div>
	 </div>
	<div class="col-sm-9 clearfix">
	  <div class="col-sm-4 col-xs-12 sep-right">
		  <div class="col-xs-12">
		   <div class="pull-left">
			 <h4 class="list-group-item-heading">Today</h4> 
			 <div class="sep text-center navbar-btn">
				  <div class="sep-bot"> <%- today_count %> </div>
				  <div><%- today %></div>
			 </div>
		   </div>
			<ul class="list-unstyled chart-block list-group-item-text pull-right">
				<li class="list-group-item clearfix no-bor">
					<a class="show" href="#">
						<div id="doughnutChart" class="chart js-chart" data-todo="<%- data.dashboard.today.TODO %>" data-doing="<%- data.dashboard.today.DOING %>" data-done="<%- data.dashboard.today.DONE %>"></div>
					</a>
				</li>
			</ul>
		 </div>
	  </div>
	  <div class="col-sm-4 col-xs-12 sep-right">
		  <div class="col-xs-12">
		   <div class="pull-left">
			   <h4 class="list-group-item-heading">Week </h4>
			   <ul class="list-inline week-chart-date">
				   <li class="sep text-center navbar-btn">
					   <div class="sep-bot"> <%- data.dashboard.week_start_day %> </div>
					   <div> Mon </div>
					</li>
					<li> to </li>
					<li class="sep text-center navbar-btn">
						<div class="sep-bot"> <%- data.dashboard.week_end_day %> </div>
						<div> Sun </div>
					</li>
				</ul>
			</div>
			<ul class="list-unstyled chart-block list-group-item-text pull-right">
				<li class="list-group-item clearfix no-bor">
					<a class="show" href="#">
						<div id="doughnutChart" class="chart js-chart" data-todo="<%- data.dashboard.current_week.TODO %>" data-doing="<%- data.dashboard.current_week.DOING %>" data-done="<%- data.dashboard.current_week.DONE %>"></div>
					</a>
				</li>
			</ul>
		 </div>
	  </div>
	  <div class="col-sm-4 col-xs-12">
		  <div class="col-xs-12">
			   <div class="pull-left">
					<h4 class="list-group-item-heading">Overall </h4>
			   </div>
			   <ul class="list-unstyled chart-block list-group-item-text pull-right">
				<li class="list-group-item clearfix no-bor">
					<a class="show" href="#">
						<div id="doughnutChart" class="chart js-chart" data-todo="<%- data.dashboard.overall.TODO %>" data-doing="<%- data.dashboard.overall.DOING %>" data-done="<%- data.dashboard.overall.DONE %>"></div>
					</a>
				</li>
			</ul>
		 </div>
	   </div>
	   <div class="col-xs-12 clearfix navbar-btn">
			<div class="navbar-btn">
				<div class="col-sm-2 h4"> This week</div> 
				<div class="col-sm-10">
					<span class="sparklines" data-todo="<%- (data.dashboard.current_weekwise.TODO).join() %>" data-doing="<%- (data.dashboard.current_weekwise.DOING).join() %>" data-done="<%- (data.dashboard.current_weekwise.DONE).join() %>" ></span>
				</div>
			</div>
	   </div>
	   <div class="col-xs-12 clearfix navbar-btn">
			<div class="navbar-btn"> 
				<div class="col-sm-2 h4"> Last week</div> 
				<div class="col-sm-10">
					<span class="sparklines test" data-todo="<%- (data.dashboard.last_weekwise.TODO).join() %>" data-doing="<%- (data.dashboard.last_weekwise.DOING).join() %>" data-done="<%- (data.dashboard.last_weekwise.DONE).join() %>" ></span>
				</div>
			</div>
	   </div>
	   <div class="col-xs-12 text-center navbar-btn">
			<ul class="list-inline navbar-btn">
				<li>Unassigned <button class="btn btn-primary"> <%- data.dashboard.unassigned %> </button></li>
				<li class="navbar-right"><i class="icon-warning-sign text-warning"></i>Todo, Doing, Done lists can be configured in<a href="#/settings/11" title="settings" class="text-primary"> settings </a></li>
			</ul>
	   </div>
	</div>
</section>
<section class="clearfix">
	<div class="col-xs-12">
		<hr>
		<span class="pull-left h4"><%=data.dashboard.page_title%></span>
		<ul class="nav nav-pills navbar-right">
			<li class="<%  var fragment = Backbone.history.fragment; var fragments = fragment.split('/'); if(fragment.indexOf('boards')  != -1 && fragments.length == 1){%>active<%}%>"><a href="#/boards" title="<%- i18next.t('My Boards') %>" class="text-muted list-group-item-text navbar-btn h4"><i class="icon-user"></i></a></li>
			<li class="<% if(Backbone.history.fragment.indexOf('boards/starred') != -1){%>active<%}%>"><a href="#/boards/starred" title="<%- i18next.t('Starred Boards') %>" class="text-muted list-group-item-text navbar-btn h4"><i class="icon-star"></i></a></li>
			<li class="<% if(Backbone.history.fragment.indexOf('boards/closed') != -1){%>active<%}%>"><a href="#/boards/closed" title="<%- i18next.t('Closed Boards') %>" class="text-muted list-group-item-text navbar-btn h4"><i class="icon-th-large"></i></a></li>
		</ul>
	</div>
</section>