<div>
    <div class="col-xs-12 text-center clearfix">
            <span class="col-xs-10"><strong><%- i18next.t("Boards for") %></span><span title="<%- boards.username%>"> <%- boards.username%></span></strong></span><a href="#" class="js-close-popover pull-right"><i class="icon-remove"></i></a>
    </div>
    <div class="col-xs-12 divider"></div>
    <div class="col-xs-12">
        <%
			boards.each(function(board) {
		%>
			<li><a href="#/board/<%- board.attributes.board_id%>"><%- board.attributes.board_name%></a></li>
		<%					
		   });
		%>	
    </div>
</div>